/* * * * * * IMPORTS * * * * * */

@import './variables.scss';
@import './fonts.scss';

/* * * * * * ROOT * * * * * */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

iframe, textarea{
    width: 220px;
}

h1, h2, h3, h4, h5, h6, p, label{
    color: $bluedark;
    font-family: 'Anek D';
}

.opacity-off{
    opacity: .5;
}

/* * * * * * MAIN * * * * * */

body{
    width: 100%;
    height: 100%;
}

#body-index{
    background-color: $gray;
}

#body-dash{
    transition: all .4s;
    background-color: $green;
}

header{
    width: 100%;
}

#header-index{
    padding: 5%;
}

#nav-index{
    width: 100%;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 100;
    left: 0;
}

.nav-nav-index{
    width: 100%;
    padding: 5% 5% 2.5%;
    background: $gray;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
}

#btn-menu-users, #btn-menu-courses{

} 

.btn-menu{
    width: 8vw;
    height: auto;
    cursor: pointer;
    transform: translateY(3px);
    svg{
        width: 100%;
        height: auto;
    }
}

.btn-home{
    img{
        width: 11vw;
        height: auto;
    }
    h3{
        height: 6.5vw;
        font-weight: 800;
        font-size: 9vw;
        line-height: 100%;
        letter-spacing: 0.1rem;
    }
}

.btn-login{
    padding: 3vw 4vw;
    background: $bluedark;
    border-radius: 2.5vw;
    box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
    font: normal normal 500 4vw sans-serif;
    color: white;
    line-height: 110%;
    transition: all .3s;
}

.menu-slider-header{
    gap: 15px;
    width: 70%;
    opacity: 0;
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    justify-items: center;
    justify-content: center;
    transition: all .3s ease-out;
    grid-template-columns: 40% 40%;
    a{
        width: 100%;
        border: none;
        display: flex;
        outline: none;
        cursor: pointer;
        background: $yellow;
        align-items: center;
        border-radius: 10px;
        letter-spacing: .7px;
        flex-direction: column;
        justify-content: center;
        transition: all .3s ease-out;
        font: normal normal 700 3.8vw 'Anek D';
        box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
        img{
            width: 40%;
        }
        span{
            color: $bluedark;
            margin-top: 5%;
            line-height: 100%;
        }
    }
}

.menu-header-open{
    padding: 17px 0;
    opacity: 1;
    transition: all .3s ease-out;
}

.main-head{
    transition: all .3s;
    width: 100%;  
    padding-top: 18vw;
}

.main-img{
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    img{
        width: 90%;
        max-width: 330px;
        height: auto;
    }
}

.main-p{
    width: 100%;
    margin-bottom : 5%;
    overflow: visible;
    h1{
        text-align: center;
        overflow: visible;
        font: normal normal 900 12vw 'Anek D';
        line-height: 10vw;
        span{
            color: $green;
        }
    }
}

.main-line{
    width: 80%;
    border: $bluedark solid 1px;
    border-radius: 3px;
    margin: 0 auto 5%;
}

.main-btn{
    width: 100%;
    text-align: center;
    a{
        margin: 0 5%;
        border-radius: 2.5vw;
        padding: 2.5vw 4.5vw;
        line-height: 100%;
        font: normal normal 500 4vw sans-serif;
    }
}

.main-btn-ingresar{
    background: $green;
    color: white;
    border: $green solid 2px;
    box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
}

.main-btn-contacto{
    border: $green solid 2px;
    color: $bluedark;
}

/* * * * * MAIN * * * * */

/*  SECTION 1  */

main{
    width: 100%;
    transition: all .3s;
}

#main-index{
    padding: 5%;
}

section{
    width: 100%;
    scroll-margin-top: 50px;
}

.section-1-index{
    height: calc(100vh - 70px);
    padding: 30px 5%;
    border-radius: 20px;
    background: $bluedark;
    margin-bottom: 30px;
    box-shadow: 0 0 6px rgba($color: black, $alpha: .6);
}

.map{
    width: 100%;
    height: 50%;
    iframe{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.main-slider{
    width: 100%;
    height: 50%;
}

.main-img-slider{
    width: 100%;
    height: 80%;
    padding-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
}

.img-slider{
    min-width: 199%;
    max-width: 300%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    transition: all .7s;
    div[id=vertical]{
        min-width: 15%;
        max-width: 25%;
    }
    div{
        min-width: 35%;
        max-width: 38%;
        img{
            width: 90%;
            border-radius: 5%;
            transition: all .2s;
        }
    }
}

.main-btn-slider{
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 10px;
}

.btn-slider{
    width: 100%;
    height: 100%;
    button{
        border: none;
        font: normal normal 700 4vw sans-serif;
        margin: 0 5%;
        border-radius: 5px;
    }
}

.row-slider-btn{
    width: auto;
    height: 45%;
    color: white;
    background: transparent;
    cursor: pointer;
    svg{
        width: auto;
        height: 100%;
    }
}

.row-slider-btn:nth-last-child(1){
    transform: rotateY(180deg);
}

.dinamic-btn-slider{
    width: 30%;
    height: 70%;
    margin: 0 5%;
    span{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        button{
            padding: 9%;
        }
    }
}

.btn-active{
    transform: scale(1.1);
    background: $green;
    color: white;
    box-shadow: 0 0 15px rgba($color: $green, $alpha: .5);
}

/*  SECTION 2  */
.video-yt{
    width: 100%;
    height: 35%;
    text-align: center;
    margin-bottom: 10%;
    iframe{
        width: 95%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
    }
}

.about{
    width: 100%;
    text-align: center;
    margin-bottom: 15%;
    h4{
        font: normal normal 600 140% 'Anek D';
        line-height: 100%;
        margin-bottom: 3%;
    }
    p{
        display: inline-block;
        width: 80%;
        font: normal normal 300 80% 'Anek D';
        line-height: 110%;
        margin: 0;
    }
}

.lema{
    width: 100%;
    text-align: center;
    h4{
        font: normal normal 800 100% 'Anek D';
        line-height: 110%;
        width: 90%;
        display: inline-block;
    }
}

.lema-img{
    width: 100%;
    margin-bottom: 5%;
    img{
        width: 50%;
    }
}

/* * * * * FOOTER * * * * */

footer{
    width: 100%;
    background-color: $bluedark;
    text-align: center;
    transition: all .3s;
}

.main-form{
    width: 100%;
    padding-top: 10%;
    text-align: center;
    margin-bottom: 10%;
    h4{
        color: white;
        font: normal normal 400 120% 'Anek D';
        line-height: 100%;
        margin-bottom: 2%;
    }
}

.form{
    width: 80%;
    text-align: center;
    display: inline-block;
    input, textarea, button{
        width: 85%;
        font: normal normal 200 13px sans-serif;
        padding: 0 5%;
        outline: none;
        border: none;
        margin: 5px 0;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba($color: black, $alpha: .4);
    }
    input{
        height: 30px;
    }
    textarea{
        padding-top: 3%;
    }
    button{
        width: 50%;
        padding: 4% 0;
        color: white;
        background: $green;
        font-weight: 700;
    }
}

.main-rs{
    width: 70%;
    display: inline-block;
    margin-bottom: 10%;
    a{
        width: 13%;
        height: auto;
        margin: 7px;
    }
}

.main-contact{
    width: 100%;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 5%;
    div{
        display: flex;
        // justify-content: center;
        align-items: end;
        padding: 5px 0;
    }
    svg, p{
        display: inline-block;
    }
    p{
        color: white;
        font: normal normal 200 80% 'Anek D';
        line-height: 25%;
        margin: 4px;
    }
}

.copyright{
    padding-bottom: 5%;
    color: white;
    font: normal normal 600 80% 'Anek D';
    line-height: 100%;
}




/* * * * * * * * * VIEW/LOGIN.HTML * * * * * * * * */

#header-login{
    padding: 10% 15%;
}

#nav-login{
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a{
        
        width: 6vw;
    }
    svg{
        width: 100%;
        transform: translateY(3px);
    }
}

.logo-login{
    img{
        width: calc(15vw - 1rem);
        height: auto;
    }
    h3{
        font-weight: 800;
        font-size: 2vw;
        line-height: 110%;
        letter-spacing: 0.1rem;
    }
}

#main-login{
    width: 100%;
    height: 70vh;
}

.section-login{
    max-width: 410px;
    max-height: 550px;
    padding: 10% 15%;
}

.h3-login{
    letter-spacing: 3px;
    font-size: calc(12vw - 1rem);
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 5%;
}

.emailInvalid{
    width: 100%;
    padding: 3vw 4vw;
    background: rgba($color: $red, $alpha: .15);
    border: .5px solid $red;
    border-radius: 10px;
    h5{
        color: $red;
        font: normal normal 100 3.5vw sans-serif;
        letter-spacing: .5px;
    }
}

.p-login{
    width: 85%;
    font: normal normal 200 1.1rem 'Anek D';
    line-height: 100%;
    margin-top: 10px;
}

.form-login{
    margin-top: 5%;
    justify-items: center;
    div{
        width: 100%;
        margin-bottom: 10px;
    }
    label{
        color: #747474;
        font-weight: 500;
        font-size: calc(8vw - 1rem);
    }
}

.correo-in{
    input{
        width: 100%;
        border: 1px solid #a4a4a4;
        border-radius: 7px;
        padding: 5.5% 8.5%;
        outline: none;
        font-family: sans-serif;
    }
}

.pass-btn{
    width: 100%;
    input{
        width: 85%;
        border: 1px solid #a4a4a4;
        border-radius: 7px 0 0 7px;
        padding: 5.5% 8.5%;
        outline: none;
        font-family: sans-serif;
    }
    button{
        width: 15%;
        position: relative;
        border-radius: 0 7px 7px 0;
        outline: none;
        border: none;
        background-color: $bluedark;
        cursor: pointer;
        svg{
            width: 60%;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.hidden{
    opacity: 1;
}

.visible{
    opacity: 0;
}

.add-in{
    width: 100%;
    padding-top: 8px;
    a{
        font: normal normal 300 3.5vw sans-serif;
        letter-spacing: -.2px;
        color: #6D6D6D;
        text-decoration: underline;
        transform: translateY(2px);
    }
}

.ingresar-in{
    width: 100%;
    text-align: center;
    padding-top: 10px;
    button{
        font: normal normal 100 4.5vw sans-serif;
        width: 50%;
        padding: 5%;
        border: none;
        border-radius: 7px;
        background: $bluedark;
        color: white;
        line-height: 100%;
        cursor: pointer;
    }
}




/* * * * * * * * * VIEW/DASHBOARD.HTML * * * * * * * * */

html{
    &::-webkit-scrollbar{
        width: 5px;
        height: 100%;
    }
    &::-webkit-scrollbar-thumb{
        background: #868686;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: $bluedark;
        box-shadow: 0 0 4px rgba($color: black, $alpha: .3);
    }
    &::-webkit-scrollbar-thumb:active{
        background: $bluedark;
    }
    &::-webkit-scrollbar-track {
        background: #c5c5c5;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
        background: #acacac;
    }
}

.nav{
    top: 0;
    left: 0;
    width:50%;
    z-index: 10;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.nav-nav{
    width: 85%;
    height: 60vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.jc-s{
    padding: 1.5vw 0 1.5vw 3vw;
    cursor: pointer;
    position: relative;
    &::before{
        top: 0;
        left: 0;
        content: '';
        width: 0;
        height: 100%;
        display: block;
        z-index: -1;
        position: absolute;
        transition: all .5s;
        background-color: $gray;
        border-radius: 0 15px 15px 0;
    }
}

#line{
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color: $gray, $alpha: .5);
}

.icon-img{
    margin-right: 5%;
    svg{
        width: 8vw;
        fill: $gray;
    }
}   

.icon-text{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h4{
        color: $gray;
        line-height: 80%;
        font-size: 4vw;
        font-weight: 300;
        transform: translateY(1vw);
    }
}

.click-sections{
    &::before{
        width: 100%;
        box-shadow: 0px 0px 10px 2px rgba($color: black, $alpha: .35);
    }
    svg{
        fill: $bluedark;
        stroke-width: 2px;
    }h4{
        color: $bluedark;
        font-weight: 500;
    }
}

// * * * BODY DASHBOARD * * * //

#body-dash{
    iframe{
        width: 100%;
    }
}

// * * * USERS DASHBOARD * * * //

.body-db{
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    background-color: $bluedark;
    transition: all .5s ease-in-out;
    box-shadow: -3px -3px 30px 10px rgba($color: black, $alpha: .3);
}

.body-db-users{
    z-index: 60;
}

.body-db-courses{
    z-index: 50;
}

.body-db-snacks{
    z-index: 40;
}

.body-db-profile{
    z-index: 30;
}

.body-db-report{
    z-index: 20;
}

// * * .Users Active * * //

.body-view-menu-users{
    top: 24vh;
    left: 67vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-courses{
    top: 21vh;
    left: 62vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-snacks{
    top: 18vh;
    left: 57vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-profile{
    top: 15vh;
    left: 52vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-report{
    top: 12vh;
    left: 47vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

// * * .Courses Active * * //

.body-view-menu-users1{
    top: 21vh;
    left: 62vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
    z-index: 50;
}

.body-view-menu-courses1{
    top: 24vh;
    left: 67vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
    z-index: 60;
}

.body-view-menu-snacks1{
    top: 18vh;
    left: 57vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-profile1{
    top: 15vh;
    left: 52vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-report1{
    top: 12vh;
    left: 47vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

// * * .Snacks Active * * //

.body-view-menu-users2{
    top: 24vh;
    left: 67vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-courses2{
    top: 21vh;
    left: 62vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-snacks2{
    top: 18vh;
    left: 57vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-profile2{
    top: 15vh;
    left: 52vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-report2{
    top: 12vh;
    left: 47vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

// * * .Profile Active * * //

.body-view-menu-users3{
    top: 24vh;
    left: 67vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-courses3{
    top: 21vh;
    left: 62vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-snacks3{
    top: 18vh;
    left: 57vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-profile3{
    top: 15vh;
    left: 52vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-report3{
    top: 12vh;
    left: 47vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

// * * .Report Active * * //

.body-view-menu-users4{
    top: 24vh;
    left: 67vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-courses4{
    top: 21vh;
    left: 62vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-snacks4{
    top: 18vh;
    left: 57vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-profile4{
    top: 15vh;
    left: 52vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-report4{
    top: 12vh;
    left: 47vw;
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.load-profile{
    animation: load-profile 1.5s ease-in-out .5s 1 alternate forwards;
}

@keyframes load-profile {
    0%{
        top: 16vh;
        left: 57vw;
        z-index: 50;
        border-radius: 20px 20px 0 0;
    }50%{
        top: -16vh;
        left: -40vw;
    }80%{
        top: 0;
        left: 0;
    }100%{
        z-index: 70;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}

.header-db{
    top: 0;
    left: 0;
    z-index: 10;
    height: 30vh;
    padding: 5% 5%;
    position: absolute;
    background-color: $bluedark;
    div[id=menu-icon]{
        height: 20%;
        svg{
            cursor: pointer;
        }
    }
    div[id=search]{
        width: 100%;
        height: 85%;
        flex-direction: column;
        h3{
            color: $gray;
            line-height: 100%;
            margin-bottom: 3%;
            font-size: calc(12vw - 1rem);
        }div{
            height: 25%;
        }
    }
}

.header-db-search{
    width: 80%;
    height: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    input{
        font-size: 3.5vw;
        width: 85%;
        height: 100%;
        padding: 3vw 4vw;
        outline: none;
        border: none;
        border-radius: 8px 0 0 8px;
        line-height: 100%;
    }
    button{
        width: 15%;
        background: $green;
        border-radius: 0 8px 8px 0;
        outline: none;
        border: none;
        cursor: pointer;
        svg{
            width: 50%;
        }
    }
}

#main-db-users, #main-db-courses{
    width: 100%;
    padding: 10% 5%;
    margin-top: 30vh;
    border-radius: 45px 45px 0 0;
    background-color: $gray;
    z-index: 30;
    overflow: hidden;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.15);
    section{
        width: 100%;
        padding-top: 15%;
    }&::-webkit-scrollbar{
        width: 0;
    }
}

.section-user, .section-refri{
    width: 100%;
    flex-direction: column;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-main-card{
    width: 80%;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 25%;
}

.main-card-img{
    width: 30%;
    transform: translateY(-50%);
    img{
        border-radius: 50%;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    }
}

.main-card-descri{
    width: 60%;
    margin-top: -10%;
    text-align: center;
    h3, p{
        line-height: 100%;
    }
    p{
        margin-top: 3%;
        font-size: 4.5vw;
        font-weight: 300;
    }
}

.switch-button {
    display: inline-block;
    width: 30%;
    margin-top: 5%;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: $green;
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    background-color: white;
    content: '';
    top: .5rem;
    left: .5rem;
    border-radius: 10px;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: $red;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(5rem);
}

.main-card-info{
    margin-top: 5%;
    text-align: center;
    h5{
        line-height: 100%;
        font-weight: 500;
    }
    p{
        letter-spacing: 1px;
        font-size: .8rem;
        margin-top: 5%;
        line-height: 100%;
        font-weight: 300;
    }
}

.main-card-btn{
    width: 65%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    div{
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        transform: translateY(50%);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
}

.card-btn-edit{
    background: $yellow;
}

.card-btn-delete{
    background: $red;
}

.card-close #dn-card{
    display: none;
}

.section-refri{
    display: none;
}


/* * * * * CLASES REPETIDAS * * * * */

.df{
    display: flex;
}

.di{
    display: inline-block;
}

.cxy{
    justify-content: center;
    align-items: center;
}

.jc-s{
    justify-content: start;
    align-items: center;
}

.m10{
    margin-top: 10%;
}

.m-10{
    margin-top: -10%;
}


/* * * * * Querys * * * * */

@media screen and (min-width: 400px) {
    .img-slider{
        div[id=vertical]{
            min-width: 17%;
            max-width: 18%;
        }
        div{
            min-width: 31%;
            max-width: 32%;
        }
    }
}

@media screen and (min-width: 480px ){

    /* * * * * Index * * * * */

    .btn-login{
        padding: 2.5vw 3.5vw;
        line-height: 100%;
    }

    .section-2-index{
        height: 100vh;
    }

    .video-yt{
        height: 40%;
        margin: 0;
        padding-bottom: 10%;
    }
    
    .about{
        height: 25%;
        margin: 0;
        padding-bottom: 10%;
        h4{
            font-size: 6vw;
            margin: 0;
            padding-bottom: 2%;
        }
        p{
            font-size: 3vw;
        }
    }
    .lema{
        height: 35%;
    }

    #form-contact{
        button{
            padding: 3% 0;
            font-size: 3.5vw;
        }
    }

    .main-contact{
        div{
            align-items: center;
        }
        svg{
            transform: scale(1.1);
        }
        p{
            font-size: 3.5vw;
            line-height: 135%;
            height: 16.5px;
        }
    }

    /* * * * * Login * * * * */

    #header-login{
        padding: 5% 10%;
    }

    #main-login{
        width: 100%;
        height: auto;
    }

    .section-login{
        max-width: 710px;
        width: 100%;
    }

    .img-slider{
        div{
            min-width: 100%;
        }
    }

}