/* * * * * * IMPORTS * * * * * */

@import './variables.scss';
@import './mixins.scss';

/* * * * * * ROOT * * * * * */

:root{

    //Para animación
    --top: 0;
    --left: 0;
    --zIndex: 0;
    --topA: 0;
    --leftA: 0;
    --ZindexA: 0;

    //Para abrir menu
    --pTop: 0;
    --pLeft: 0;  
    --pIndex: 0;
    --uTop: 0;
    --uLeft: 0;  
    --uIndex: 0;
    --cTop: 0;
    --cLeft: 0;  
    --cIndex: 0;
    --sTop: 0;
    --sLeft: 0;  
    --sIndex: 0;
    --rTop: 0;
    --rLeft: 0;  
    --rIndex: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

html{
    scroll-behavior: smooth;
}

iframe, textarea{
    width: 220px;
}

h1, h2, h3, h4, h5, h6, p, label{
    color: $bluedark;
    font-family: $Segoe;
}

.opacity-off{
    opacity: .5;
}

/* * * * * * MAIN * * * * * */

body{
    width: 100%;
    height: 100%;
}

#body-index{
    background-color: $gray;
}

#body-dash{
    transition: all .4s;
    background-color: $green;
}

header{
    width: 100%;
}

#header-index{
    padding: 5%;
}

#nav-index{
    width: 100%;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 0;
    z-index: 100;
    left: 0;
}

.nav-nav-index{
    width: 100%;
    padding: 5% 5% 2.5%;
    background: $gray;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all .3s;
}

#btn-menu-users, #btn-menu-courses{

} 

.btn-menu{
    width: 8vw;
    height: auto;
    cursor: pointer;
    transform: translateY(3px);
    svg{
        width: 100%;
        height: auto;
    }
}

.btn-home{
    img{
        width: 11vw;
        height: auto;
    }
    h3{
        height: 6.5vw;
        font-weight: 800;
        font-size: 9vw;
        line-height: 100%;
        letter-spacing: 0.1rem;
    }
}

.btn-login{
    padding: 3vw 4vw;
    background: $bluedark;
    border-radius: 2.5vw;
    box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
    font: normal normal 500 4vw sans-serif;
    color: white;
    line-height: 110%;
    transition: all .3s;
}

.menu-slider-header{
    gap: 15px;
    width: 70%;
    opacity: 0;
    display: grid;
    overflow: hidden;
    border-radius: 10px;
    justify-items: center;
    justify-content: center;
    transition: all .3s ease-out;
    grid-template-columns: 40% 40%;
    a{
        width: 100%;
        border: none;
        display: flex;
        outline: none;
        cursor: pointer;
        background: $yellow;
        align-items: center;
        border-radius: 10px;
        letter-spacing: .7px;
        flex-direction: column;
        justify-content: center;
        transition: all .3s ease-out;
        font: normal normal 700 3.8vw 'Anek D';
        box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
        img{
            width: 40%;
        }
        span{
            color: $bluedark;
            margin-top: 5%;
            line-height: 100%;
        }
    }
}

.menu-header-open{
    padding: 17px 0;
    opacity: 1;
    transition: all .3s ease-out;
}

.main-head{
    transition: all .3s;
    width: 100%;  
    padding-top: 18vw;
}

.main-img{
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    img{
        width: 90%;
        max-width: 330px;
        height: auto;
    }
}

.main-p{
    width: 100%;
    margin-bottom : 5%;
    overflow: visible;
    h1{
        text-align: center;
        overflow: visible;
        font: normal normal 900 12vw 'Anek D';
        line-height: 10vw;
        span{
            color: $green;
        }
    }
}

.main-line{
    width: 80%;
    border: $bluedark solid 1px;
    border-radius: 3px;
    margin: 0 auto 5%;
}

.main-btn{
    width: 100%;
    text-align: center;
    a{
        margin: 0 5%;
        border-radius: 2.5vw;
        padding: 2.5vw 4.5vw;
        line-height: 100%;
        font: normal normal 500 4vw sans-serif;
    }
}

.main-btn-ingresar{
    background: $green;
    color: white;
    border: $green solid 2px;
    box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
}

.main-btn-contacto{
    border: $green solid 2px;
    color: $bluedark;
}

/* * * * * MAIN * * * * */

/*  SECTION 1  */

main{
    width: 100%;
    transition: all .3s;
}

#main-index{
    padding: 5%;
}

section{
    width: 100%;
    scroll-margin-top: 50px;
}

.section-1-index{
    height: calc(100vh - 70px);
    padding: 30px 5%;
    border-radius: 20px;
    background: $bluedark;
    margin-bottom: 30px;
    box-shadow: 0 0 6px rgba($color: black, $alpha: .6);
}

.map{
    width: 100%;
    height: 50%;
    iframe{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}

.main-slider{
    width: 100%;
    height: 50%;
}

.main-img-slider{
    width: 100%;
    height: 80%;
    padding-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
}

.img-slider{
    min-width: 199%;
    max-width: 300%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    transition: all .7s;
    div[id=vertical]{
        min-width: 15%;
        max-width: 25%;
    }
    div{
        min-width: 35%;
        max-width: 38%;
        img{
            width: 90%;
            border-radius: 5%;
            transition: all .2s;
        }
    }
}

.main-btn-slider{
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 10px;
}

.btn-slider{
    width: 100%;
    height: 100%;
    button{
        border: none;
        font: normal normal 700 4vw sans-serif;
        margin: 0 5%;
        border-radius: 5px;
    }
}

.row-slider-btn{
    width: auto;
    height: 45%;
    color: white;
    background: transparent;
    cursor: pointer;
    svg{
        width: auto;
        height: 100%;
    }
}

.row-slider-btn:nth-last-child(1){
    transform: rotateY(180deg);
}

.dinamic-btn-slider{
    width: 30%;
    height: 70%;
    margin: 0 5%;
    span{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        button{
            padding: 9%;
        }
    }
}

.btn-active{
    transform: scale(1.1);
    background: $green;
    color: white;
    box-shadow: 0 0 15px rgba($color: $green, $alpha: .5);
}

/*  SECTION 2  */
.video-yt{
    width: 100%;
    height: 35%;
    text-align: center;
    margin-bottom: 10%;
    iframe{
        width: 95%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
    }
}

.about{
    width: 100%;
    text-align: center;
    margin-bottom: 15%;
    h4{
        font: normal normal 600 140% 'Anek D';
        line-height: 100%;
        margin-bottom: 3%;
    }
    p{
        display: inline-block;
        width: 80%;
        font: normal normal 300 80% 'Anek D';
        line-height: 110%;
        margin: 0;
    }
}

.lema{
    width: 100%;
    text-align: center;
    h4{
        font: normal normal 800 100% 'Anek D';
        line-height: 110%;
        width: 90%;
        display: inline-block;
    }
}

.lema-img{
    width: 100%;
    margin-bottom: 5%;
    img{
        width: 50%;
    }
}

/* * * * * FOOTER * * * * */

footer{
    width: 100%;
    background-color: $bluedark;
    text-align: center;
    transition: all .3s;
}

.main-form{
    width: 100%;
    padding-top: 10%;
    text-align: center;
    margin-bottom: 10%;
    h4{
        color: white;
        font: normal normal 400 120% 'Anek D';
        line-height: 100%;
        margin-bottom: 2%;
    }
}

.form{
    width: 80%;
    text-align: center;
    display: inline-block;
    input, textarea, button{
        width: 85%;
        font: normal normal 200 13px sans-serif;
        padding: 0 5%;
        outline: none;
        border: none;
        margin: 5px 0;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba($color: black, $alpha: .4);
    }
    input{
        height: 30px;
    }
    textarea{
        padding-top: 3%;
    }
    button{
        width: 50%;
        padding: 4% 0;
        color: white;
        background: $green;
        font-weight: 700;
    }
}

.main-rs{
    width: 70%;
    display: inline-block;
    margin-bottom: 10%;
    a{
        width: 13%;
        height: auto;
        margin: 7px;
    }
}

.main-contact{
    width: 100%;
    text-align: left;
    padding-left: 5%;
    margin-bottom: 5%;
    div{
        display: flex;
        // justify-content: center;
        align-items: end;
        padding: 5px 0;
    }
    svg, p{
        display: inline-block;
    }
    p{
        color: white;
        font: normal normal 200 80% 'Anek D';
        line-height: 25%;
        margin: 4px;
    }
}

.copyright{
    padding-bottom: 5%;
    color: white;
    font: normal normal 600 80% 'Anek D';
    line-height: 100%;
}




/* * * * * * * * * VIEW/LOGIN.HTML * * * * * * * * */

#body-login{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.login-div-#{$l}, .login-#{$r}{
    height: 100%;
}

.login-div-#{$l}{
    width: 40%;
    padding: .5vw;
    display: inline-block;
}

.login-#{$l}{
    @include div(
        100%,100%,
        5vh 4vw, 0, flex
    );
    background: $bluedark;
    border-radius: .8vw;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
}

.#{$l}__head{
    @include div (
        100%, 5%,
        0,0, flex
    );
    flex-direction: row;
    justify-content: space-between;
}

.#{$l}__head-logo{
    width: auto;
    height: 100%; 
    display: inline-flex;
    align-items: center;
    
    img,h3{
        display: inline-block;
        &::selection{
            background: none;
        }
    }

    img{
        width: auto;
        height: 100%;
        margin-right: .5vw;
    }

    h3{
        line-height: 100%;
        color: $gray;

        letter-spacing: 1px;
        font: {
            size: 1.5vw;
            family: $Segoe;
        }
    }

    
}

.#{$l}__head-arrow{
    height: 100%;
    div{
        height: 100%;
        cursor: pointer;
        transition: all .4s ease-in-out;
        span{
        color: $gray;

            font: {
                size: 2.5vw;
                family: $SignikaL;
            }
        }&:hover{
            transform: translateX(-.5vw);
        }
    }
}

.#{$l}__text{
    width: 100%;
    h1, p{
        color: $gray;
    }
}

.#{$l}__text-tittle{
    width: 100%;
    h1{
        letter-spacing: 4px;
        font: {
            size: 2vw;
            family: $SignikaL;
        }
    }
}

.#{$l}__text-parraf{
    width: 100%;
    padding-top: 5%;
    p{
        letter-spacing: 1px;
        width: 90%;
        text-align: justify;
        font: {
            size: 1vw;
            family: $Segoe;
            weight: 100;
        }
    }
}

.#{$l}__body{
    width: 100%;
}

.#{$l}__body-slider{
    width: 300%;
    flex-direction: row;
    transition: all .6s ease-in-out;
    justify-content: space-around;
    margin-left: var(--marginLeft);
}

.#{$l}__body-slider-sec{
    width: 25%;
    border-radius: 1vw;
    background: $bluedarkBlack;
    padding: 1.7vw 1.5vw 1.5vw;
    transition: all .6s ease-in-out;
}

.login-sec-active{
    scale: 1.1;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.25);
}

.#{$l}__slider-sec-text{
    width: 100%;
    p{
        color: $gray;
        text-align: justify;
        font: {
            size: .8vw;
            family: $SignikaL;
        }
    }
}

.#{$l}__slider-sec-profile{
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.#{$l}__sec-profile-img{
    width: 2.5vw;
    height: 2.5vw;
    svg{
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.#{$l}__sec-profile-descrip{
    padding-left: 3%;
    h5, h6{
        color: $gray;
        font-family: $SignikaL;
        letter-spacing: 1.5px;
    }
    h5{
        font: {
            size: .9vw;
            family: $SignikaR;
        }
    }
    h6{
        font: {
            size: .7vw;
            family: $Segoe;
            weight: 100;
        }
    }
}

.#{$l}__body-btn{
    width: 100%;
    padding-top: 5%;
}

.#{$l}__body-btn-div{
    button{
        width: .5vw;
        height: .5vw;
        border: none;
        margin: 0 .1vw;
        border-radius: 50%;
        transition: all .3s;
        background: rgba($color: $gray, $alpha: .5);
    }
}

.login-btn-active{
    scale: 1.3;
    background-color: $white !important;
}


/* RIGHT */
.login-#{$r}{
    @include div(
        60%,100%,
        4vh 14vw,
        0,flex
    );
    flex-direction: column;
}

.#{$r}__head{
    width: 100%;
    height: 5%;
    display: none !important;
    justify-content: space-between;
}

.#{$r}__text{
    height: 15%;
    font-weight: 400;
    letter-spacing: 1px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    h1{font-size: 2.5vw;}
    p{font-size: 1.2vw;}
}

.#{$r}__body{
    height: 70%;
    flex-direction: column;
    justify-content: space-evenly;
    span{
        display: block;
        font: {size: 1.3vw; family: $SignikaL;}
        margin-bottom: 5px;
    }
    button, input{
        outline: none;
        border-radius: 1vw;
    }input{
        padding: 3% 9%;
        border-width: 1px;
        border-style: solid;
    }
    button{cursor: pointer;margin: auto 0;}
}

#rol-btn-coor{
    width: 54%;
}

#rol-btn-aux{
    width: 44%;
}

.#{$r}__body-btn-rol{
    height: 100%;
    padding: 2% 9%;
    background: none;
    text-align: start;
    align-items: center;
    display: inline-flex;
    border: 1px solid rgba($color: $bluedark, $alpha: .5);
    font: {
        family: $SignikaL;
        size: 1.4vw;
    }
    &:hover{
        color: $green;
        border-color: $green;
        font-family: $SignikaL;
        border: 1px solid $green;
        .#{$r}__body-cont{
            border: 4px solid $green;
        }
    }
}

.#{$r}__body-cont{
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid rgba($color: $bluedark, $alpha: .5);
}

.rol-btn-active{
    color: $green;
    border-color: $green;
    font-family: $SignikaL;
    border: 1px solid $green;
    .#{$r}__body-cont{
        border: 4px solid $green;
    }
}

.#{$r}__body-op{
    flex-direction: row;
    justify-content: space-between;
}

.#{$r}__body-op-record{
    input{margin-right: 5px;}
    font: {size: 1.2vw; family: $SignikaL;}
}

.#{$r}__body-op-pass{
    color: rgba($color: $bluedark, $alpha: .7);
    &:hover{
        text-decoration: underline;
    }
}

.#{$r}__body-btn-send{
    width: 45%;
    height: 13%;
    border: none;
    color: $white;
    cursor: pointer;
    background: $bluedark;
    font: {size: 1.3vw; family: $SignikaL;}
    &:hover{
        scale: 1.1;
        background: rgba($color: $bluedark, $alpha: .8);
    }
}

.normal{
    border-color: rgba($color: $bluedark, $alpha: .5);
    &:focus{
        border-color: $green;
        color: $green;
        &::placeholder{color: $green;}
    }
    &::placeholder{color: rgba($color: $bluedark, $alpha: .5);}
}

.alert{
    color: $redAlert;
    border-color: $redAlert;
    div{border-color: $redAlert;}
    &:focus{
        border-color: $redAlert;
        color: $redAlert;
        &::placeholder{color: $redAlert}
    }
    &::placeholder{color: $redAlert;}
}

.alertRol,
.alertUser,
.alertPass{
    display: none;
    margin: .3vw 0 0 .3vw;
    color: $redAlert;
    font: {
        size: 1vw;
        family: $SignikaM;
    }
}


/* * * * * * * * * VIEW/DASHBOARD.HTML * * * * * * * * */

html{
    &::-webkit-scrollbar{
        width: 5px;
        height: 100%;
    }
    &::-webkit-scrollbar-thumb{
        background: #868686;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb:hover{
        background: $bluedark;
        box-shadow: 0 0 4px rgba($color: black, $alpha: .3);
    }
    &::-webkit-scrollbar-thumb:active{
        background: $bluedark;
    }
    &::-webkit-scrollbar-track {
        background: #c5c5c5;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-track:hover,
    &::-webkit-scrollbar-track:active {
        background: #acacac;
    }
}

.nav{
    top: 0;
    left: 0;
    width:50%;
    z-index: 10;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
}

.nav-nav{
    width: 85%;
    height: 60vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.jc-s{
    padding: 1.5vw 0 1.5vw 3vw;
    cursor: pointer;
    position: relative;
    &::before{
        top: 0;
        left: 0;
        content: '';
        width: 0;
        height: 100%;
        display: block;
        z-index: -1;
        position: absolute;
        transition: all .5s;
        background-color: $gray;
        border-radius: 0 15px 15px 0;
    }
}

#line{
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color: $gray, $alpha: .5);
}

.icon-img{
    margin-right: 5%;
    svg{
        width: 8vw;
        fill: $gray;
    }
}   

.icon-text{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    h4{
        color: $gray;
        line-height: 80%;
        font-size: 4vw;
        font-weight: 300;
        transform: translateY(1vw);
    }
}

.click-sections{
    &::before{
        width: 100%;
        box-shadow: 0px 0px 10px 2px rgba($color: black, $alpha: .35);
    }
    svg{
        fill: $bluedark;
        stroke-width: 2px;
    }h4{
        color: $bluedark;
        font-weight: 500;
    }
}

// * * * BODY DASHBOARD * * * //

#body-dash{
    iframe{
        width: 100%;
    }
}

// * * * USERS DASHBOARD * * * //

.body-db{
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    background-color: $bluedark;
    transition: all .5s ease-in-out;
    box-shadow: -3px -3px 30px 10px rgba($color: black, $alpha: .3);
}

.body-db-users{
    z-index: 60;
}

.body-db-courses{
    z-index: 50;
}

.body-db-snacks{
    z-index: 40;
}

.body-db-profile{
    z-index: 30;
}

.body-db-report{
    z-index: 20;
}


.body-view-menu-users{
    top:  var(--uTop);
    left: var(--uLeft) ;
    z-index: var(--uIndex);
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-courses{
    top:  var(--cTop);
    left: var(--cLeft) ;
    z-index: var(--cIndex);
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-snacks{
    top:  var(--sTop);
    left: var(--sLeft) ;
    z-index: var(--sIndex);
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-profile{
    top:  var(--pTop);
    left: var(--pLeft) ;
    z-index: var(--pIndex);
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.body-view-menu-report{
    top:  var(--rTop);
    left: var(--rLeft) ;
    z-index: var(--rIndex);
    height: 100vh;
    position: absolute;
    border-radius: 20px 20px 0 0;
}

.load-profile{
    animation: load-profile 1.5s ease-in-out .5s 1 alternate forwards;
}

@keyframes load-profile {
    0%{
        top: var(--top);
        left: var(--left);
        z-index: var(--zIndex);
        border-radius: 20px 20px 0 0;
    }35%{
        top: var(--topA);
        left: var(--leftA);
    }100%{
        z-index: 80;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}

.header-db{
    top: 0;
    left: 0;
    z-index: 10;
    height: 30vh;
    padding: 5% 5%;
    position: absolute;
    background-color: $bluedark;
    div[id=menu-icon-div]{
        height: 18%;
        justify-content: space-between;
        svg{
            cursor: pointer;
            stroke: $white;
        }
        #plus-icon-div{
            border-radius: 20%;
            box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
            background: $green;
        }
    }
    div[id=search]{
        width: 100%;
        height: 85%;
        flex-direction: column;
        h3{
            color: $white;
            line-height: 100%;
            margin-bottom: 3%;
            font-size: calc(12vw - 1rem);
        }div{
            height: 25%;
        }
    }
}

.header-db-search{
    width: 80%;
    height: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    input{
        font-size: 3.5vw;
        width: 85%;
        height: 100%;
        padding: 3vw 4vw;
        outline: none;
        border: none;
        border-radius: 8px 0 0 8px;
        line-height: 100%;
    }
    button{
        width: 15%;
        background: $green;
        border-radius: 0 8px 8px 0;
        outline: none;
        border: none;
        cursor: pointer;
        svg{
            width: 50%;
        }
    }
}

#main-db-users, #main-db-courses{
    width: 100%;
    padding: 10% 5%;
    margin-top: 30vh;
    border-radius: 45px 45px 0 0;
    background-color: $gray;
    z-index: 30;
    overflow: hidden;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.15);
    section{
        width: 100%;
        padding-top: 15%;
    }&::-webkit-scrollbar{
        width: 0;
    }
}

.section-user, .section-refri{
    width: 100%;
    flex-direction: column;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

.db-main-card{
    width: 80%;
    flex-direction: column;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin-bottom: 25%;
}

.main-card-img{
    width: 30%;
    transform: translateY(-50%);
    img{
        border-radius: 50%;
        width: 100%;
        height: auto;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    }
}

.main-card-descri{
    width: 60%;
    margin-top: -10%;
    text-align: center;
    h3, p{
        line-height: 100%;
    }
    p{
        margin-top: 3%;
        font-size: 4.5vw;
        font-weight: 300;
    }
}

.switch-button {
    display: inline-block;
    width: 30%;
    margin-top: 5%;
}
.switch-button .switch-button__checkbox {
    display: none;
}
.switch-button .switch-button__label {
    background-color: $green;
    width: 100%;
    height: 2rem;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}
.switch-button .switch-button__label:before {
    transition: .2s;
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    background-color: white;
    content: '';
    top: .5rem;
    left: .5rem;
    border-radius: 10px;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label {
    background-color: $red;
}
.switch-button .switch-button__checkbox:checked + .switch-button__label:before {
    transform: translateX(5rem);
}

.main-card-info{
    margin-top: 5%;
    text-align: center;
    h5{
        line-height: 100%;
        font-weight: 500;
    }
    p{
        letter-spacing: 1px;
        font-size: .8rem;
        margin-top: 5%;
        line-height: 100%;
        font-weight: 300;
    }
}

.main-card-btn{
    width: 65%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    div{
        cursor: pointer;
        width: 2.5rem;
        height: 2.5rem;
        transform: translateY(50%);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }
}

.card-btn-edit{
    background: $yellow;
}

.card-btn-delete{
    background: $red;
}

.card-close #dn-card{
    display: none;
}

.section-refri{
    display: none;
}

/* * * * * views.dashboard.users * * * * */
.cu{
    flex-direction: column;
    align-items: center;
    h2{
        margin-bottom: 4vh;
    }
}
#form-create-users{
    display: grid;
    width: 70%;
    gap: 8% 3%;
    grid-template-columns: repeat(10, calc(73% / 10));
    grid-template-rows: repeat(7, 1fr);
    .users-div{
        flex-direction: column;
        label{
            font: normal normal 400 calc(9vw - 1rem) 'Anek D';
        }input{
            border: none;
            display: flex;
            outline: none;
            padding: 0 0 1vh 3vw;
            border-bottom: 1px solid $green;
            &::placeholder{
                color: #acacac;
            }
        }
    }select{
        border: none;
        outline: none;
        padding-bottom: 1vh;
        border-bottom: 1px solid $green ;
        option{
            padding: 1vh;
        }
    }
    #users-name{
        grid-row: 1;
        grid-column: 1/8;
    }#users-lastname{
        grid-row: 2;
        grid-column: 1/10;
    }#users-email{
        grid-row: 3;
        grid-column: 1/10;
    }#users-pass{
        grid-row: 4;
        grid-column: 1/9;
    }#users-user{
        grid-row: 5;
        grid-column: 1/6;
    }#users-number{
        grid-row: 5;
        grid-column: 6/11;
    }#users-rol{
        grid-row: 6;
        grid-column: 1/7;
    }#users-state{
        grid-row: 6;
        grid-column: 7/11;
    }#users-send{
        grid-row: 7;
        grid-column: 3/9;
        padding: 1.3vh 0;
        border-radius: 5px;
        outline: none;
        border: none;
        background: $green;
        color: white;
        font-weight: 400;
        cursor: pointer;
    }
}

/* * * * * CLASES REPETIDAS * * * * */

.df{
    display: flex;
}

.di{
    display: inline-block;
}

.cxy{
    justify-content: center;
    align-items: center;
}

.jc-s{
    justify-content: start;
    align-items: center;
}

.m10{
    margin-top: 10%;
}

.m-10{
    margin-top: -10%;
}

.wh100{
    width: 100%;
    height: 100%;
}

.w100{
    width: 100%;
}

.t4s{
    transition: all .4s;
}

/* * * * * Querys * * * * */

@media screen and (min-width: 400px) {
    .img-slider{
        div[id=vertical]{
            min-width: 17%;
            max-width: 18%;
        }
        div{
            min-width: 31%;
            max-width: 32%;
        }
    }
}

@media screen and (min-width: 480px ){

    /* * * * * Index * * * * */

    .btn-login{
        padding: 2.5vw 3.5vw;
        line-height: 100%;
    }

    .section-2-index{
        height: 100vh;
    }

    .video-yt{
        height: 40%;
        margin: 0;
        padding-bottom: 10%;
    }
    
    .about{
        height: 25%;
        margin: 0;
        padding-bottom: 10%;
        h4{
            font-size: 6vw;
            margin: 0;
            padding-bottom: 2%;
        }
        p{
            font-size: 3vw;
        }
    }
    .lema{
        height: 35%;
    }

    #form-contact{
        button{
            padding: 3% 0;
            font-size: 3.5vw;
        }
    }

    .main-contact{
        div{
            align-items: center;
        }
        svg{
            transform: scale(1.1);
        }
        p{
            font-size: 3.5vw;
            line-height: 135%;
            height: 16.5px;
        }
    }

    /* * * * * Login * * * * */

    #header-login{
        padding: 5% 10%;
    }

    #main-login{
        width: 100%;
        height: auto;
    }

    .section-login{
        max-width: 710px;
        width: 100%;
    }

    .img-slider{
        div{
            min-width: 100%;
        }
    }

}

@media screen and (min-width: 768px) {
    


}

@media screen and (min-width: 1024px ){

    /*  INDEX  */

    #header-index{
        height: 100vh;
        padding: 3.5% 3%;
        display: flex;
        background-color: $yellow;
        flex-direction: column;
        align-items: center;
        background: hsla(56, 87%, 68%, 1);
        background: radial-gradient(circle, hsla(56, 87%, 68%, 1) 0%, hsla(56, 80%, 52%, 1) 100%);
    }

    #nav-index{
        width: 94%;
        height: 6vh;
        position: static;
    }
    
    .nav-nav-index{
        padding: 0;
        height: 100%;
        background: none;
    }
    
    .menu-slider-header{
        display: none;
    }

    .btn-menu{
        display: none;
    }

    .btn-home{
        height: 100%;
        img{
            width: auto;
            height: 90%;
        }h3{
            font-family: $Segoe;
            height: auto;
            font-size: 1rem;
            letter-spacing: 0;
        }
    }

    .n-n-msh{
        height: 100%;
        ul{
            // transform: translateY(4px);
            flex-direction: row;
            li:nth-child(1){
                a{
                    &::after{
                        content: "Inicio";
                    }
                }
            }li:nth-child(2){
                a{
                    &::after{
                        content: "Ubicación";
                    }
                }
            }li:nth-child(3){
                a{
                    &::after{
                        content: "Nosotros";
                    }
                }
            }li:nth-child(4){
                a{
                    &::after{
                        content: "Contactar";
                    }
                }
            }
            li{ 
                list-style: none;
                position: relative;
                margin: 0 1.5vw;
                a{
                    display: inline-block;
                    font-weight: 500;
                    cursor: pointer;
                    font-size: calc(.6em + .6vw);
                    font-family: $Calibri;
                    line-height: 100%;
                    color: $bluedark;
                    position: relative;
                    transition: all .3s;
                    transform-style: preserve-3d;
                    
                    &::after{
                        position: absolute;
                        top: -100%;
                        left: 0px;
                        width: 100%;
                        transform-origin: left bottom;
                        transform: rotateX(90deg);
                        font-weight: 600;
                    }
                    
                    &:hover{
                        transform-origin: center bottom;
                        transform: rotateX(-90deg) translateY(100%);
                    }
                }
            }
        }
    }


    .btns{
        width: 18%;
        height: 80%;
        justify-content: space-between;
        flex-direction: row;
        .night{
            width: 46%;
            height: 100%;
            position: relative;
            border-radius: 12px;
            background: $bluedark;
            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
        
            div{
                top: 0;
                left: 0;
                width: 50%;
                right: auto;
                height: 100%;
                bottom: auto;
                cursor: pointer;
                background: $white;
                position: absolute;
                transition: all .5s;
                border-radius: 12px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .btn-login{
        width: 46%;
        height: 100%;
        padding: 0;
        border: $bluedark solid 2px;
        font-size: calc(.5em + .5vw);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        transition: all .3s;
        &:hover{
            background: none;
            color: $bluedark;
        }
    }

    .main-head{
        display: flex;
        flex-direction: row-reverse;
        padding-top: 10vh;
    }

    .main-img{
        margin: 0;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        img{
            max-width: 96%;
        }
        &::after{
            content: '';
            bottom: 10px;
            left: auto;
            width: 80%;
            border-radius: 50%;
            height: 50px;
            position: absolute;
            filter: blur(10px);
            background-color: rgba(0,0,0,0.4);
        }
    }
    
    .main-main{
        width: 50%;
        padding: 0 3%;
    }

    .main-date{
        position: relative;
        flex-direction: row;
        margin-bottom: 3vw;
        align-items: flex-end;
        svg{
            width: calc(3.5vw - 1rem);
        }
        div{
            font-family: Calibri, sans-serif;
            font-weight: 300;
            font-size: calc(3vw - 1rem);
            padding-left: .5vw;
        }
    }

    .main-p{
        h1{
            // font-family: $Calibri;
            font-family: $Segoe;
            font-weight: bold;
            font-size: calc(7vw - 1rem);
            line-height: .8em;
            text-align: start;
            letter-spacing: -.2vw;
            span{
                letter-spacing: 1px;
            }
            div{
                margin-top: .3vw;
            }
        }
    }

    .main-line{
        width: 100%;
    }

    .main-btn{
        display: flex;
        flex-direction: row;
        a{
            border-radius: 0 -12px;
            margin: 0 2%;
            padding: 1vw 1.7vw;
            font-size: calc(3vw - 1em);
            transition: all .3s;
        }
        a[id=ingresar]:hover{
            background: none;
            color: $bluedark;
            box-shadow: none;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }a[id=contacto]:hover{
            background-color: $green;
            color: $white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }
    }


    /*  LOGIN  */

}

@media screen and (min-width: 1440px) {
    
    

}