@font-face {
  font-family: "Signika-Light";
  src: url("../fonts/Signika/SignikaLight.ttf");
}
@font-face {
  font-family: "Signika-Regular";
  src: url("../fonts/Signika/SignikaSemiBold.ttf");
}
@font-face {
  font-family: "Signika-Medium";
  src: url("../fonts/Signika/SignikaRegular.ttf");
}
@font-face {
  font-family: "Signika-SemiBold";
  src: url("../fonts/Signika/SignikaMedium.ttf");
}
@font-face {
  font-family: "Signika-Bold";
  src: url("../fonts/Signika/SignikaBold.ttf");
}
/*  INDEX  */
#body-index {
  background: #E5E9F6;
}

#header-index {
  height: 90vh;
  display: flex;
  padding: 3.5% 5%;
  flex-direction: column;
}

#nav-index {
  position: fixed;
}

.nav-nav-index {
  padding: 5vh 5% 2vh;
  height: 14vh;
  align-items: center;
}

.menu-slider-header {
  display: none;
}

.btn-menu {
  display: none;
}

.btn-home {
  height: 100%;
}
.btn-home img {
  width: auto;
  height: 90%;
}
.btn-home h3 {
  height: auto;
  font-size: 1rem;
  letter-spacing: 0;
  font-family: "Segoe UI";
}

.n-n-msh {
  height: 100%;
  display: flex;
}
.n-n-msh ul {
  flex-direction: row;
}
.n-n-msh ul li {
  list-style: none;
  position: relative;
  margin: 0 1.5vw;
}

.n-n-msh a {
  margin: auto;
  cursor: pointer;
  color: #1E222F;
  font-weight: 500;
  line-height: 100%;
  position: relative;
  display: inline-block;
  font-family: Calibri;
  font-size: 1.8vw;
  transition: all 0.4s;
}
.n-n-msh a::before, .n-n-msh a::after {
  left: 0;
  position: absolute;
}
.n-n-msh a::before {
  width: 0;
  z-index: 10;
  height: 100%;
  content: "";
  background: #E5E9F6;
  transition: all 0.4s;
}
.n-n-msh a::after {
  top: 0;
  opacity: 0;
  width: 100%;
  z-index: 100;
  height: 100%;
  display: flex;
  color: #1E222F;
  transition: all 0.4s;
  align-items: center;
  justify-content: center;
  content: attr(data-icon);
  font-family: "Line Awesome Free";
  font-size: 1.8vw;
  font-weight: 900;
}
.n-n-msh a:hover {
  color: transparent;
}
.n-n-msh a:hover::before {
  width: 100%;
}
.n-n-msh a:hover::after {
  opacity: 1;
}

.btns {
  width: 12%;
  height: 80%;
  flex-direction: row;
  justify-content: space-between;
}
.btns .night {
  width: 46%;
  height: 100%;
  display: none;
  position: relative;
  border-radius: 12px;
  background: #1E222F;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
.btns .night div {
  top: 0;
  left: 0;
  width: 50%;
  right: auto;
  height: 100%;
  bottom: auto;
  cursor: pointer;
  background: #FFFFFF;
  position: absolute;
  transition: all 0.5s;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-login {
  width: 100%;
  height: 90%;
  padding: 0;
  border-radius: 12px;
  transition: all 0.3s;
  border: 2px solid #1E222F;
  font-size: 1.5vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn-login:hover {
  background: none;
  color: #1E222F;
}

.main-head {
  display: flex;
  padding-top: 20vh;
  align-items: center;
  flex-direction: row-reverse;
}

.main-img {
  margin: 0;
  width: 50%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.main-img img {
  max-width: 96%;
}

.main-main {
  width: 50%;
  padding: 0 3% 0 0;
}

.main-date {
  position: relative;
  flex-direction: row;
  margin-bottom: 3vw;
  align-items: flex-end;
}
.main-date svg {
  width: calc(3.5vw - 1rem);
}
.main-date div {
  font-family: Calibri, sans-serif;
  font-weight: 300;
  font-size: calc(3vw - 1rem);
  padding-left: 0.5vw;
}

.main-p h1 {
  font-size: 7vw;
  text-align: start;
  font-weight: bold;
  line-height: 0.8em;
  font-family: "Segoe UI";
  letter-spacing: -0.2vw;
}
.main-p h1 span {
  letter-spacing: 1px;
}
.main-p h1 div {
  margin-top: 0.3vw;
}

.main-line {
  width: 100%;
  margin: 5% auto;
}

.main-btn {
  display: flex;
  flex-direction: row;
}
.main-btn a {
  margin: 0 2%;
  padding: 1.3vw 2vw;
  transition: all 0.3s;
  border-radius: 0 -12px;
  font-size: 2vw;
  border: 2px solid #4AA163;
}
.main-btn a[id=ingresar]:hover {
  background: none;
  color: #1E222F;
  box-shadow: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main-btn a[id=contacto]:hover {
  color: #FFFFFF;
  background-color: #4AA163;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Main */
#main-index {
  padding: 2.5% 5%;
}

.section-1-index {
  padding: 5%;
  height: 65vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.map {
  height: 90%;
  white-space: nowrap;
  border: 0.5vw solid #4AA163;
}

.main-slider {
  height: 90%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-img-slider {
  align-items: center;
  flex-wrap: nowrap;
}

.img-slider {
  height: 80%;
}
.img-slider div {
  width: 100%;
  min-width: 0;
}
.img-slider img {
  width: auto;
  height: 100%;
}

.main-btn-slider {
  height: 15%;
}
.main-btn-slider button {
  font-size: 1.3vw;
}

.row-slider-btn i {
  font-size: 2vw;
}

.dinamic-btn-slider {
  height: 100%;
}
.dinamic-btn-slider span button {
  padding: 5%;
}

/* Section 2 */
.cont-about {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.video-yt,
.about {
  padding: 0;
  width: 50%;
}

.video-yt {
  height: 75%;
}

.about {
  height: auto;
  padding: 0 5%;
}
.about h4 {
  font-size: 4vw;
}
.about p {
  font-size: 1.6vw;
}

.lema {
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.lema .lema-img, .lema h4 {
  width: 50%;
}
.lema h4 {
  font-size: 5vw;
}

/* Footer */
.cont-form {
  width: 100%;
  display: flex;
  padding: 0 10%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-form {
  margin: 5% 0;
  width: 70%;
  padding: 0;
}
.main-form h4 {
  font-size: 4vw;
}

#form-contact {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#form-contact input, #form-contact textarea {
  padding: 1.5% 2.5%;
}
#form-contact input {
  width: auto;
  font-size: 1.5vw;
}
#form-contact textarea, #form-contact button {
  width: 100%;
  font-size: 1.5vw;
}

.main-rs {
  width: 10%;
  padding: 0;
  margin: calc(5% + 4vw) 0 5%;
  display: flex;
  font-size: 5vw;
  text-align: center;
  justify-content: end;
  flex-direction: column;
}
.main-rs a {
  width: auto;
  font-size: 6vw;
}

.copyright {
  font-size: 1.5vw;
}
.copyright::before, .copyright::after {
  width: 35%;
}

.send-email {
  width: 60%;
}
.send-email span, .send-email button, .send-email #by-email, .send-email #for-email {
  font-size: 1.8vw;
}

#matter-email,
#body-email {
  font-size: 1.4vw;
  height: calc(98% - 1.8vw - 5px);
}

.by-email, .for-email {
  padding-left: 4%;
}

.matter-email, .body-email {
  padding: 2% 4% 0;
}

.cont-find-mail, #matter-email, #body-email {
  overflow: auto;
}

.find-mail {
  padding: 0.5% 3%;
}

.btn-email {
  justify-content: space-between;
}
.btn-email i {
  color: #E5E9F6;
  cursor: pointer;
  font-size: 2.5vw;
}
.btn-email i:hover {
  scale: 1.2;
}
.btn-email #edit {
  margin-right: 1vw;
}

/*  LOGIN  */
.body-login {
  flex-direction: row;
}

.login-div-left {
  width: 50%;
  padding: 0.5vw;
  display: inline-block;
}

.login-left {
  width: 100%;
  height: 100%;
  padding: 5vh 4vw;
  margin: 0;
  display: flex;
  background: #1E222F;
  border-radius: 0.8vw;
  flex-direction: column;
  overflow: hidden;
  justify-content: space-between;
}

.left__head-logo {
  width: auto;
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.left__head-logo h3 {
  color: #E5E9F6;
  font-size: 1.5vw;
}

.left__head-arrow a {
  color: #E5E9F6;
  font-size: 2.5vw;
  transition: all 0.4s ease-in-out;
}
.left__head-arrow a:hover {
  transform: translateX(-0.5vw);
}

.left__text {
  width: 100%;
}
.left__text h1, .left__text p {
  color: #E5E9F6;
}

.left__text-tittle {
  width: 100%;
}
.left__text-tittle h1 {
  letter-spacing: 4px;
  font-size: 2.5vw;
  font-family: "Signika-Light";
}

.left__text-parraf {
  width: 100%;
  padding-top: 5%;
}
.left__text-parraf p {
  letter-spacing: 1px;
  font-size: 1.5vw;
  font-family: "Segoe UI";
  font-weight: 100;
}

.left__body {
  width: 100%;
}

.left__body-slider {
  width: 300%;
  flex-direction: row;
  transition: all 0.6s ease-in-out;
  justify-content: space-around;
  margin-left: var(--marginLeft);
}

.left__body-slider-sec {
  width: 25%;
  border-radius: 1vw;
  text-align: justify;
  background: #101319;
  padding: 1.7vw 1.5vw 1.5vw;
  transition: all 0.6s ease-in-out;
}

.login-sec-active {
  scale: 1.1;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.25);
}

.left__slider-sec-text {
  width: 100%;
}
.left__slider-sec-text p {
  color: #E5E9F6;
  font-size: 1.2vw;
  font-family: "Signika-Light";
}

.left__slider-sec-profile {
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.left__sec-profile-img {
  width: 3vw;
  height: 3vw;
}
.left__sec-profile-img svg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.left__sec-profile-descrip {
  padding-left: 3%;
}
.left__sec-profile-descrip h5, .left__sec-profile-descrip h6 {
  color: #E5E9F6;
  font-family: "Signika-Light";
  letter-spacing: 1.5px;
}
.left__sec-profile-descrip h5 {
  font-size: 1vw;
  font-family: "Signika-Regular";
}
.left__sec-profile-descrip h6 {
  font-size: 0.8vw;
  font-family: "Segoe UI";
  font-weight: 100;
}

.left__body-btn {
  width: 100%;
  padding-top: 5%;
}

.left__body-btn-div button {
  width: 0.5vw;
  height: 0.5vw;
  border: none;
  margin: 0 0.1vw;
  border-radius: 50%;
  transition: all 0.3s;
  background: rgba(229, 233, 246, 0.5);
}

.login-btn-active {
  scale: 1.3;
  background-color: #FFFFFF !important;
}

/* RIGHT */
.login-right {
  width: 50%;
  justify-content: center;
}

.right__head {
  display: none !important;
}

#headLeft {
  display: none;
}

.right__text h1 {
  font-size: 3vw;
}
.right__text p {
  font-size: 1.5vw;
}

.right__body span {
  font-size: 1.5vw;
}

.right__body-main {
  margin-top: 0;
}

.form-login button, .form-login input {
  padding: 2vh 2.5vw;
}

#rol-btn-coor {
  width: 54%;
}

#rol-btn-aux {
  width: 44%;
}

.right__body-btn-rol {
  font-size: 1.5vw;
}
.right__body-btn-rol:hover {
  color: #4AA163;
  border-color: #4AA163;
  font-family: "Signika-Light";
  border: 1px solid #4AA163;
}
.right__body-btn-rol:hover .right__body-cont {
  border: 2px solid #4AA163;
}

.right__body-cont,
.right__jornada-cont {
  width: 1.3vw;
  height: 1.3vw;
}

.right__body-op-record {
  font-size: 1.5vw;
}
.right__body-op-record input {
  scale: 1.2;
}

.right__body-op-pass {
  color: rgba(30, 34, 47, 0.7);
  font-size: 1.5vw;
}
.right__body-op-pass:hover {
  text-decoration: underline;
}

.right__body-btn-send {
  background: #1E222F;
  font-size: 2vw;
}
.right__body-btn-send:hover {
  scale: 1.1;
  background: rgba(30, 34, 47, 0.8);
}

.normal {
  border-color: rgba(30, 34, 47, 0.5);
}
.normal:focus {
  border-color: #4AA163;
  color: #4AA163;
}
.normal:focus::placeholder {
  color: #4AA163;
}
.normal::placeholder {
  color: rgba(30, 34, 47, 0.5);
}

.alert {
  color: rgba(255, 89, 89, 0.7333333333);
  border-color: rgba(255, 89, 89, 0.7333333333);
}
.alert div {
  border-color: rgba(255, 89, 89, 0.7333333333);
}
.alert:focus {
  border-color: rgba(255, 89, 89, 0.7333333333);
  color: rgba(255, 89, 89, 0.7333333333);
}
.alert:focus::placeholder {
  color: rgba(255, 89, 89, 0.7333333333);
}
.alert::placeholder {
  color: rgba(255, 89, 89, 0.7333333333);
}

.alertRol,
.alertUser,
.alertPass,
.alertLogin {
  display: none;
  margin: 0.3vw 0 0 0.3vw;
  color: rgba(255, 89, 89, 0.7333333333);
  font-size: 1.5vw;
  font-family: "Signika-Medium";
}

.styleAlert {
  font-size: 1.5vw;
}

.alertLogin {
  display: flex !important;
  width: 100%;
  height: 1.3vw;
  font-size: 1.8vw;
}

/* * * DASHBOARD * * */
.cont-delete-confirm {
  width: 40vw;
  height: 30vh;
}
.cont-delete-confirm h3 {
  margin-bottom: 4vh;
}
.cont-delete-confirm button, .cont-delete-confirm a {
  transition: all 0.3s;
}
.cont-delete-confirm button:hover, .cont-delete-confirm a:hover {
  scale: 1.1;
}

#close-delete {
  font-size: 3vw;
}

.cont-delete-btns button, .cont-delete-btns a {
  font-size: 2vw;
}

.header-db {
  padding: 2%;
}

#menu-icon-div {
  height: auto;
}
#menu-icon-div i, #menu-icon-div a {
  transition: all 0.3s;
}
#menu-icon-div i:hover, #menu-icon-div a:hover {
  scale: 1.1;
  opacity: 0.7;
}
#menu-icon-div i {
  font-size: 3vw;
}
#menu-icon-div a {
  padding: 0.5vw;
}

#search h3 {
  font-size: 5vw;
  margin-bottom: 1vh;
}

.header-db-search {
  width: 40%;
  border-radius: 1vw;
}
.header-db-search i {
  font-size: 3vw;
}

#search-element {
  padding: 0 2vw;
  font-size: 1.8vw;
}

#main-db-users {
  padding: 3% 3%;
}

.section-coor-btn,
.section-aux-btn {
  padding: 0;
  font-size: 2.5vw;
}
.section-coor-btn div,
.section-aux-btn div {
  width: 100%;
  border-width: 0.2vw;
}
.section-coor-btn button,
.section-aux-btn button {
  font-size: 2.7vw;
}

.section-coor-btn span {
  width: 23%;
}

.section-aux-btn span {
  width: 17%;
}

.cont-db-main-card {
  gap: 3%;
  width: 100%;
  flex-wrap: wrap;
  align-items: start;
  flex-direction: row;
  justify-content: start;
}

.db-main-card {
  width: 30%;
  margin-bottom: 7%;
  border-radius: 1.5vw;
}

.main-card-cont-first {
  padding: 1.5vw 1.5vw 0;
}

.cont-main-card-img p {
  font-size: 1.5vw;
}

.main-card-descri div {
  font-size: 1.8vw;
}

.main-card-info {
  word-wrap: break-word;
}
.main-card-info span {
  margin-right: 0.5vw;
}
.main-card-info span, .main-card-info div {
  font-size: 1.7vw;
}

.main-card-email,
.main-card-number-user {
  font-size: 1.8vw;
}

.main-card-email div,
.main-card-number div,
.main-card-user div {
  overflow: visible;
  word-wrap: break-word;
}

.main-card-btn a, .main-card-btn button {
  width: 3.7vw;
  height: 3.7vw;
  font-size: 2.6vw;
}
.main-card-btn a:hover, .main-card-btn button:hover {
  opacity: 0.9;
  scale: 1.1;
}

/* * * Create User * * */
.nav {
  width: 23vw;
}

.nav-nav h4 {
  font-size: 2vw;
}
.nav-nav i {
  font-size: 2.8vw;
}

#body-create {
  padding: 0;
}

.forms-create, .div-form-login {
  padding: 4vh 6vw;
}

.right__body button, .right__body input {
  border-radius: 0.7vw;
  padding: 2vh 3vw;
}

#name, #lastname,
#number, #email,
#user, #pass,
.right__body-btn-rol,
.right__jornada-btn {
  font-size: 1.5vw;
  padding: 1.2vh 2vw;
}

.create-btn-user {
  padding: 1.5vh 3.5vw;
  font-size: 2vw;
}

.uc-p {
  font-size: 2vw;
}

/* * * Create User * * */
#refriDecription {
  border-radius: 1vw;
  font-size: 1.5vw;
  padding: 1.5vh 1.5vw;
}

/*# sourceMappingURL=pc.small.css.map */
