/* Error: Undefined mixin.
 *     ,
 * 264 | /     @include div(
 * 265 | |         100%,100%,
 * 266 | |         5vh 4vw, 0, flex
 * 267 | |     );
 *     | '-----^
 *     '
 *   view\sass\viewport\pc.small.scss 264:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a     \2577 \a 264 \2502  \250c      @include div(\a 265 \2502  \2502          100%,100%,\a 266 \2502  \2502          5vh 4vw, 0, flex\a 267 \2502  \2502      );\a     \2502  \2514 \2500 \2500 \2500 \2500 \2500 ^\a     \2575 \a   view\\sass\\viewport\\pc.small.scss 264:5  root stylesheet";
}
