@charset "UTF-8";
/* * * * * * IMPORTS * * * * * */
@font-face {
  font-display: swap;
  font-family: "Signika-Light";
  src: url("../fonts/Signika/SignikaLight.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Signika-Regular";
  src: url("../fonts/Signika/SignikaSemiBold.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Signika-Medium";
  src: url("../fonts/Signika/SignikaRegular.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Signika-SemiBold";
  src: url("../fonts/Signika/SignikaMedium.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Signika-Bold";
  src: url("../fonts/Signika/SignikaBold.ttf");
}
/* * * * * * ROOT * * * * * */
:root {
  --top: 0;
  --left: 0;
  --zIndex: 0;
  --topA: 0;
  --leftA: 0;
  --ZindexA: 0;
  --pTop: 0;
  --pLeft: 0;
  --pIndex: 0;
  --pHeight: 0;
  --uTop: 0;
  --uLeft: 0;
  --uIndex: 0;
  --uHeight: 0;
  --cTop: 0;
  --cLeft: 0;
  --cIndex: 0;
  --cHeight: 0;
  --sTop: 0;
  --sLeft: 0;
  --sIndex: 0;
  --sHeight: 0;
  --rTop: 0;
  --rLeft: 0;
  --rIndex: 0;
  --rHeight: 0;
  --height: 0px;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}
html::-webkit-scrollbar-thumb {
  background: #868686;
  border-radius: 5px;
}
html::-webkit-scrollbar-thumb:hover {
  background: #1E222F;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}
html::-webkit-scrollbar-thumb:active {
  background: #1E222F;
}
html::-webkit-scrollbar-track {
  background: #c5c5c5;
  border-radius: 5px;
}
html::-webkit-scrollbar-track:hover, html::-webkit-scrollbar-track:active {
  background: #acacac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

header {
  width: 100%;
}

iframe, textarea {
  width: 220px;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: #1E222F;
  font-family: "Segoe UI";
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
}

/* Oculta las flechas en inputs de tipo number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0; /* Puedes ajustar el margen si es necesario */
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* * * Small Phone * * */
@font-face {
  font-display: swap;
  font-family: "Signika-Light";
  src: url("../fonts/Signika/SignikaLight.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Signika-Regular";
  src: url("../fonts/Signika/SignikaSemiBold.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Signika-Medium";
  src: url("../fonts/Signika/SignikaRegular.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Signika-SemiBold";
  src: url("../fonts/Signika/SignikaMedium.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Signika-Bold";
  src: url("../fonts/Signika/SignikaBold.ttf");
}
/* * * * * * INDEX * * * * * */
#body-index {
  background-color: #E5E9F6;
}

/* * HEAD * */
#header-index {
  padding: 5%;
}

#nav-index {
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
}

.nav-nav-index {
  height: calc(10vw + 7.5%);
  background: #E5E9F6;
  padding: 5% 5% 2.5%;
  transition: all 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.btn-menu {
  cursor: pointer;
  transform: translateY(3px);
}

.btn-home img {
  width: 10vw;
  height: auto;
}
.btn-home h3 {
  font-size: 200%;
  font-weight: 800;
  margin-left: 5px;
}

.n-n-msh {
  display: none;
}

.btns {
  width: 30%;
}

.btn-login {
  width: 100%;
  padding: 13%;
  color: white;
  transition: all 0.3s;
  border-radius: 10px;
  background: #1E222F;
  font-size: 4vw;
  font-weight: 500;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu-slider-header {
  gap: 15px;
  width: 70%;
  height: 0;
  opacity: 0;
  display: grid;
  overflow: hidden;
  justify-items: center;
  justify-content: center;
  transition: all 0.3s ease-out;
  grid-template-columns: 40% 40%;
}
.menu-slider-header a {
  width: 100%;
  border: none;
  display: flex;
  cursor: pointer;
  background: #F2E63C;
  align-items: center;
  border-radius: 10px;
  letter-spacing: 0.7px;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s ease-out;
  font-size: 4vw;
  font-family: "Segoe UI";
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.menu-slider-header a img {
  width: 40%;
  height: auto;
}
.menu-slider-header a span {
  margin-top: 5%;
  color: #1E222F;
  line-height: 100%;
}

/* Class for active */
.menu-header-open {
  opacity: 1;
  height: auto;
  padding: 5vh 0;
  transition: all 0.3s ease-out;
}

/* Class for active */
.opacity-off {
  opacity: 0.5;
}

/* Class for active */
.opacity-on {
  opacity: 1;
  scale: 1.1;
}

/* Class for active */
.scrollOn {
  padding: 2.5% 5% !important;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}
.scrollOn .btn-login {
  padding: 10%;
}

.main-head {
  width: 100%;
  padding-top: 15vh;
  transition: all 0.3s;
}

.main-img {
  width: 100%;
  text-align: center;
  margin-bottom: 10%;
}
.main-img img {
  width: 90%;
  height: auto;
}

.main-p {
  width: 100%;
  padding-bottom: 3vh;
}
.main-p h1 {
  text-align: center;
  overflow: visible;
  font-family: "Signika-Bold";
  font-size: 15vw;
  line-height: 90%;
}
.main-p h1 span {
  color: #4AA163;
}

.main-line {
  width: 80%;
  border: #1E222F solid 1px;
  border-radius: 3px;
  margin: 0 auto 5%;
}

.main-btn {
  width: 100%;
  text-align: center;
}
.main-btn a {
  padding: 3.5vw 5vw;
  margin: 0 5%;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 4.5vw;
  font-weight: 500;
}

.main-btn-ingresar {
  color: white;
  background: #4AA163;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.main-btn-ingresar:active {
  background: rgba(74, 161, 99, 0.7);
}

.main-btn-contacto {
  color: #1E222F;
  border: #4AA163 solid 2px;
}
.main-btn-contacto:active {
  scale: 1.1;
}

/* * * * * MAIN * * * * */
/*  SECTION 1  */
#main-index {
  width: 100%;
  padding: 5%;
  transition: all 0.3s;
}

section {
  width: 100%;
  scroll-margin-top: 50px;
}

.section-1-index {
  padding: 30px 5%;
  margin-bottom: 30px;
  border-radius: 20px;
  background: #1E222F;
  height: calc(100vh - 70px);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.6);
}

.map {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 20px;
}
.map iframe {
  background-image: url("../img/loading.gif");
  background-size: 100px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
}

.main-slider {
  width: 100%;
  height: 50%;
}

.main-img-slider {
  width: 100%;
  height: 80%;
  padding-top: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.main-img-slider::-webkit-scrollbar {
  display: none;
}

.img-slider {
  width: 190%;
  height: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  margin-left: 0;
  transition: all 0.7s;
}
.img-slider div[id=vertical] {
  min-width: 15%;
  max-width: 21%;
}
.img-slider div {
  min-width: 35%;
  max-width: 38%;
}
.img-slider div img {
  width: 90%;
  border-radius: 5%;
  transition: all 0.2s;
}

.moSl1 {
  margin-left: 0;
}

.moSl2 {
  margin-left: -44%;
}

.moSl3 {
  margin-left: -90%;
}

.main-btn-slider {
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 10px;
}

.btn-slider {
  width: 100%;
  height: 100%;
}
.btn-slider button {
  margin: 0 5%;
  border: none;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 4vw;
  font-weight: 700;
}

.row-slider-btn {
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  background: transparent;
}
.row-slider-btn i {
  font-size: 7vw;
}
.row-slider-btn:hover {
  scale: 1.2;
}

.dinamic-btn-slider {
  width: 30%;
  height: 70%;
  margin: 0 5%;
}
.dinamic-btn-slider span {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.dinamic-btn-slider span button {
  padding: 9%;
}

/* Class for active */
.btn-active {
  color: white;
  background: #4AA163;
  transition: all 0.2s;
  transform: scale(1.2);
  box-shadow: 0 0 15px rgba(74, 161, 99, 0.5);
}

/*  SECTION 2  */
.video-yt {
  width: 100%;
  height: 30vh;
  text-align: center;
}
.video-yt iframe {
  width: 95%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  background-image: url("../img/loading.gif");
  background-size: 100px;
  background-color: #1E222F;
  background-repeat: no-repeat;
  background-position: center center;
}

.about {
  width: 100%;
  padding: 10% 5%;
  text-align: start;
}
.about h4 {
  margin-bottom: 10px;
  font-family: "Signika-Medium";
  font-size: 8vw;
}
.about p {
  margin: 0;
  width: 100%;
  text-align: justify;
  font-family: "Signika-Medium";
  font-size: 5vw;
}

.lema {
  width: 100%;
  text-align: center;
}
.lema h4 {
  width: 100%;
  font-family: "Signika-Bold";
  font-size: 7vw;
}

.lema-img {
  width: 100%;
  margin-bottom: 15px;
}
.lema-img img {
  width: 50%;
}

/* * * * * FOOTER * * * * */
footer {
  width: 100%;
  text-align: center;
  background-color: #1E222F;
}

.main-form {
  width: 100%;
  padding-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}
.main-form h4 {
  color: white;
  margin-bottom: 7px;
  font-family: "Segoe UI";
  font-size: 6vw;
}

.form {
  width: 80%;
  display: inline-block;
}
.form input, .form textarea, .form button {
  width: 90%;
  padding: 3% 5%;
  border: none;
  margin: 5px 0;
  border-radius: 7px;
  font-family: sans-serif;
  font-size: 4.5vw;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
}
.form textarea {
  padding-top: 3%;
}
.form button {
  padding: 4% 0;
  color: white;
  background: #4AA163;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.form button:active {
  box-shadow: none;
}

.main-rs {
  margin-bottom: 10%;
}
.main-rs a {
  margin: 0 7px;
  font-size: 13vw;
  color: #E5E9F6;
}

.copyright {
  color: white;
  position: relative;
  padding-bottom: 15px;
  font-family: "Signika-Light";
  font-size: 4vw;
}
.copyright::before {
  content: "";
  top: 25%;
  left: 0;
  width: 20%;
  height: 2px;
  opacity: 1;
  z-index: auto;
  position: absolute;
  border-radius: 0;
  transition: all 1s ease-in;
  background: #FFFFFF;
}
.copyright::after {
  content: "";
  right: 0;
  bottom: 70%;
  width: 20%;
  opacity: 1;
  z-index: auto;
  height: 2px;
  position: absolute;
  border-radius: 0;
  transition: all 1s ease-in;
  background: #FFFFFF;
}

.send-email {
  top: 0;
  right: 0;
  bottom: 0;
  width: 85%;
  left: -100%;
  height: 70vh;
  position: fixed;
  translate: 0 5vh 0;
  transition: all 0.4s;
  align-items: center;
  border-radius: 15px;
  background: #1E222F;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(30, 34, 47, 0.5);
}
.send-email p {
  color: #E5E9F6 !important;
}
.send-email span {
  opacity: 0.6;
  color: #E5E9F6;
  font-size: 5vw;
  font-family: "Signika-Light";
}

/* Class for active */
.email-active {
  left: 0;
  margin: auto;
}

/* Class for active */
.alert-index {
  border: 2px solid #FF5959 !important;
}
.alert-index::placeholder {
  color: rgba(255, 89, 89, 0.7);
}

.by-email,
.for-email,
.matter-email,
.body-email {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.by-email,
.for-email {
  width: 10%;
  height: 8vh;
  padding: 0 0 0 8%;
  align-items: center;
}

.cont-find-mail {
  width: 90%;
  height: 80%;
  display: flex;
  margin-left: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  align-items: center;
}

.find-mail {
  width: auto;
  padding: 2.5% 5%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.2);
}
.find-mail p {
  font-size: 5vw;
}

.matter-email,
.body-email {
  height: 14vh;
  padding: 2% 8% 0;
}
.matter-email p,
.body-email p {
  margin-top: 5px;
  overflow-y: scroll;
  height: calc(90% - 5vw - 5px);
}

.matter-email {
  height: 14vh;
}

.body-email {
  height: 33vh;
}

.btn-email {
  height: 7vh;
  padding: 0 2%;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.btn-email button {
  color: #1E222F;
  padding: 4%;
  width: 40%;
  border: none;
  border-radius: 10px;
  font-family: "Segoe UI";
  font-size: 5vw;
}
.btn-email button:active {
  opacity: 0.8;
}

/* * * * * * * * * VIEW/LOGIN.HTML * * * * * * * * */
#body-login {
  width: 100%;
  display: flex;
  height: var(--height);
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.bodyLoad::before {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  opacity: 1;
  z-index: auto;
  position: absolute;
  border-radius: 0;
  transition: all 0 ease-in;
  background: #4AA163;
  animation: 3s ease-in-out load;
}

.login-div-left {
  display: none;
}

.login-sec-active {
  scale: 1.1;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.25);
}

.login-btn-active {
  scale: 1.3;
  background-color: #FFFFFF !important;
}

/* HEAD LOGIN */
.left__head {
  width: 100%;
  height: 5%;
  padding: 0;
  margin: 0 0 10%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.left__head-logo {
  width: auto;
  height: 100%;
  display: inline-flex;
  align-items: center;
}
.left__head-logo img, .left__head-logo h3 {
  display: inline-block;
}
.left__head-logo img::selection, .left__head-logo h3::selection {
  background: none;
}
.left__head-logo img {
  width: auto;
  height: 100%;
  margin-right: 0.5vw;
}
.left__head-logo h3 {
  line-height: 100%;
  color: #1E222F;
  letter-spacing: 1px;
  font-size: 100%;
  font-family: "Segoe UI";
}

.left__head-arrow {
  height: 100%;
}
.left__head-arrow a {
  height: 100%;
  color: #1E222F;
  cursor: pointer;
  font-size: 8.5vw;
  font-family: "Signika-Light";
}

/* RIGHT */
.login-right {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-login {
  margin-bottom: 10% !important;
}

.right__text {
  font-weight: 400;
  letter-spacing: 1px;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6%;
}
.right__text h1 {
  font-size: 10vw;
  line-height: 105%;
  margin-bottom: 5px;
}
.right__text p {
  font-size: 4vw;
}

.form-login {
  height: 65%;
}

.form-email {
  height: auto;
}

.right__body-main {
  margin-top: 30%;
}

.right__body {
  flex-direction: column;
  justify-content: space-evenly;
}
.right__body button, .right__body input {
  padding: 2vh 7vw;
}
.right__body span {
  display: block;
  font-size: 5vw;
  font-family: "Signika-Light";
  margin-bottom: 5px;
}
.right__body button, .right__body input {
  outline: none;
  border-radius: 2vw;
}
.right__body input {
  font-family: "Segoe UI";
  border-width: 1px;
  border-style: solid;
}
.right__body button {
  margin: auto 0;
}

#rol-btn-coor {
  width: 59%;
}

#rol-btn-aux {
  width: 39%;
}

.right__body-btn-rol,
.right__jornada-btn {
  height: 100%;
  background: none;
  text-align: start;
  align-items: center;
  display: inline-flex;
  border: 1px solid rgba(30, 34, 47, 0.5);
  font-family: "Signika-Light";
  font-size: 4vw;
}

.right__body-cont,
.right__jornada-cont {
  width: 3vw;
  height: 3vw;
  margin-right: 5px;
  border-radius: 50%;
  border: 1px solid rgba(30, 34, 47, 0.5);
}

.rol-btn-active {
  color: #4AA163 !important;
  border-color: #4AA163 !important;
}
.rol-btn-active .right__body-cont, .rol-btn-active .right__jornada-cont {
  border-width: 2.5px !important;
  border-style: solid !important;
  border-color: #4AA163 !important;
}

.right__body-op {
  flex-direction: row;
  justify-content: space-between;
}

.right__body-op-record {
  font-size: 4vw;
  font-family: "Signika-Light";
}
.right__body-op-record input {
  margin-right: 5px;
  scale: 1.1;
}

.right__body-op-pass {
  color: rgba(30, 34, 47, 0.6);
  font-size: 3.7vw;
  font-family: "Segoe UI";
}
.right__body-op-pass:hover, .right__body-op-pass:active {
  text-decoration: underline;
}

.right__body-btn-send {
  width: 100%;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  transition: all 0.3s;
  background: #1E222F;
  font-size: 5vw;
  font-family: "Signika-Light";
}
.right__body-btn-send:active {
  background: rgba(30, 34, 47, 0.8);
}

.normal {
  border-color: rgba(30, 34, 47, 0.5);
}
.normal:focus {
  border-color: #4AA163;
  color: #4AA163;
}
.normal:focus::placeholder {
  color: #4AA163;
}
.normal::placeholder {
  color: rgba(30, 34, 47, 0.5);
}

.alert {
  color: rgba(255, 89, 89, 0.7333333333) !important;
  border-color: rgba(255, 89, 89, 0.7333333333) !important;
}
.alert div {
  border-color: rgba(255, 89, 89, 0.7333333333) !important;
}
.alert::placeholder {
  color: rgba(255, 89, 89, 0.7333333333) !important;
}
.alert:focus {
  color: rgba(255, 89, 89, 0.7333333333) !important;
  border-color: rgba(255, 89, 89, 0.7333333333) !important;
}
.alert:focus::placeholder {
  color: rgba(255, 89, 89, 0.7333333333) !important;
}

.alertRol,
.alertUser,
.alertPass,
.alertLogin {
  display: none;
  margin: 0.3vw 0 0 0.3vw;
  color: rgba(255, 89, 89, 0.7333333333);
  font-size: 4vw;
  font-family: "Signika-Medium";
}

.styleAlert {
  text-align: center;
  margin: -1vh 0 0.5vh;
  color: rgba(255, 89, 89, 0.7333333333);
  font-size: 4vw;
  font-family: "Signika-Medium";
}

.alertLogin {
  height: 0.1px;
  font-size: 5vw;
}

/* * * * * * * * * VIEW/DASHBOARD.HTML * * * * * * * * */
/* * * Animation Menu * * */
.first-page {
  border-radius: 5vw;
  transform: translate(85%, 50vh) !important;
}

.second-page {
  border-radius: 5vw;
  transform: translate(77%, 45vh) !important;
}

.third-page {
  border-radius: 5vw;
  transform: translate(69%, 40vh) !important;
}

.fourth-page {
  border-radius: 5vw;
  transform: translate(61%, 35vh) !important;
}

.fifth-page {
  border-radius: 5vw;
  transform: translate(52%, 30vh) !important;
}

.zi-first {
  z-index: 100 !important;
}

.zi-second {
  z-index: 80 !important;
}

.zi-third {
  z-index: 60 !important;
}

.zi-fourth {
  z-index: 40 !important;
}

.zi-fifth {
  z-index: 20 !important;
}

/* * * Animation Menu * * */
.activeDeleteDiv .body-db-users {
  pointer-events: none;
}
.activeDeleteDiv .cont-delete-confirm {
  display: flex;
}

.cont-delete-confirm {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80vw;
  height: 25vh;
  z-index: 200;
  padding: 5vw 5vh;
  display: none;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  background: #FFFFFF;
  border-radius: 3vw;
  box-shadow: 0 0 10px 1px rgba(30, 34, 47, 0.3);
}
.cont-delete-confirm h3 {
  margin-bottom: 2vh;
}

#close-delete {
  position: absolute;
  top: 15px;
  right: 15px;
  border: none;
  outline: none;
  background: none;
  font-size: 6vw;
}

.cont-delete-btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.cont-delete-btns button, .cont-delete-btns a {
  border: none;
  color: #FFFFFF;
  padding: 1vh 3vw;
  border-radius: 1vw;
  font-family: "Segoe UI";
  font-size: 4vw;
  box-shadow: 0 0 10px rgba(30, 34, 47, 0.3);
}

#delete-btn-ca {
  background: #1E222F;
}

#delete-btn-el {
  background: #FF5959;
}

#body-dash {
  transition: all 0.4s;
  background-color: #4AA163;
}

.nav {
  top: 0;
  left: 0;
  width: 45%;
  z-index: 0;
  height: 100vh;
  position: fixed;
  flex-direction: column;
  justify-content: center;
}

.nav-nav {
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-nav i {
  font-size: 7.5vw;
  color: #FFFFFF;
}

.btn-menu-menu {
  cursor: pointer;
  position: relative;
  align-items: center;
  margin: 2vh 0;
  padding: 1.5vh 3vw;
}
.btn-menu-menu::before {
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 100%;
  display: block;
  z-index: -1;
  position: absolute;
  transition: all 0.5s;
  background-color: #E5E9F6;
  border-radius: 0 15px 15px 0;
}

#line {
  padding: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(229, 233, 246, 0.5);
}

.icon-img {
  margin-right: 5%;
}

.icon-text {
  display: flex;
  justify-content: center;
}
.icon-text h4 {
  color: #E5E9F6;
  font-family: "Signika-Light";
  font-size: 4.5vw;
  font-weight: 400;
}

.click-sections::before {
  width: 100%;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.35);
}
.click-sections i {
  color: #1E222F;
}
.click-sections h4 {
  color: #1E222F;
}

#body-dash iframe {
  width: 100%;
}

.body-db {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  position: absolute;
  flex-direction: column;
  background-color: #1E222F;
  transition: all 0.5s ease-in-out;
  box-shadow: -3px -3px 30px 10px rgba(0, 0, 0, 0.3);
}

.header-db {
  height: 30vh;
  padding: 5%;
  background-color: #1E222F;
}

#menu-icon-div {
  height: 20%;
  align-items: center;
  justify-content: space-between;
}
#menu-icon-div i {
  color: #FFFFFF;
  cursor: pointer;
  font-size: 7vw;
}

#plus-icon-div {
  padding: 1vw;
  color: #E5E9F6;
  height: 100%;
  background: #4AA163;
  border-radius: 1vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
#plus-icon-div i {
  font-size: 5.5vw;
}

#search {
  width: 100%;
  height: 80%;
  flex-direction: column;
}
#search h3 {
  color: white;
  line-height: 100%;
  margin-bottom: 3%;
  font-size: calc(12vw - 1rem);
}

.header-db-search {
  width: 80%;
  height: 6vh;
  overflow: hidden;
  border-radius: 2vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}
.header-db-search input {
  width: 85%;
  border: none;
  height: 100%;
  padding: 0 4vw;
  font-family: "Signika-Light";
  font-size: 4.5vw;
}
.header-db-search button {
  width: 15%;
  border: none;
  outline: none;
  cursor: pointer;
  background: #4AA163;
}

#main-db-users, #main-db-courses {
  width: 100%;
  min-height: 70vh;
  padding: 10% 5%;
  border-radius: 45px 45px 0 0;
  background-color: #E5E9F6;
  overflow: hidden;
  box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.15);
}
#main-db-users section, #main-db-courses section {
  width: 100%;
}
#main-db-users::-webkit-scrollbar, #main-db-courses::-webkit-scrollbar {
  width: 0;
}

.section-user, .section-refri {
  flex-direction: column;
  overflow-y: visible;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Class for active */
.deploy-coors {
  height: auto !important;
}
.deploy-coors #deploy-coor {
  rotate: 90deg;
}

/* Class for active */
.deploy-auxs {
  height: auto !important;
}
.deploy-auxs #deploy-aux {
  rotate: 90deg;
}

.cont-db-main-card {
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.section-coor, .section-aux {
  width: 100%;
  height: 4vh;
  margin-bottom: 5vh;
  overflow: hidden;
  align-items: center;
  transition: all 0.4s;
  flex-direction: column;
  justify-content: start;
}

.section-coor-btn, .section-aux-btn {
  height: 4vh;
  padding: 0 5%;
  color: #1E222F;
  margin-bottom: 5vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Signika-Medium";
  font-size: 5vw;
}
.section-coor-btn div, .section-aux-btn div {
  border: 0.5vw solid rgba(30, 34, 47, 0.2);
}
.section-coor-btn button, .section-aux-btn button {
  width: 10%;
  border: none;
  text-align: end;
  background: none;
  transition: all 0.4s;
  font-size: 6vw;
}

.section-coor-btn span {
  width: 40%;
}
.section-coor-btn div {
  width: 45%;
}

.section-aux-btn span {
  width: 30%;
}
.section-aux-btn div {
  width: 60%;
}

.db-main-card {
  width: 90%;
  height: 20vh;
  margin-bottom: 25%;
  transition: all 0.5s;
  flex-direction: row;
  background: white;
  border-radius: 2.8vw;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.main-card-cont {
  width: 96.5%;
  height: 100%;
}

.line-active-user {
  width: 3.5%;
  border-radius: 0 2.8vw 2.8vw 0;
}

.main-card-cont-first {
  width: 100%;
  height: 15vh;
  padding: 3vh 3vh 0;
  transition: all 0.4s;
  flex-direction: row;
}

/* Class for active */
.user-active .line-active-user {
  background: #4AA163;
}

/* Class for active */
.user-inactive {
  box-shadow: none;
  background: rgba(255, 89, 89, 0.8);
}
.user-inactive .line-active-user {
  background: #FF5959;
}
.user-inactive .card-btn-delete {
  display: none;
}
.user-inactive .view-more {
  animation-play-state: paused;
}

.cont-main-card-img {
  width: 40%;
  height: 100%;
  margin-right: 5%;
  text-align: center;
  flex-direction: column;
}
.cont-main-card-img p {
  width: 100%;
  height: 20%;
  margin-top: 5%;
  line-height: 100%;
  font-family: "Signika-SemiBold";
  font-size: 4.5vw;
}

.main-card-img {
  height: 75%;
}
.main-card-img img {
  height: 100%;
  border-radius: 50%;
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3);
}

.cont-main-card-descri {
  width: 55%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.main-card-descri {
  width: 100%;
}
.main-card-descri div {
  height: 100%;
  line-height: 100%;
  word-wrap: break-word;
  font-family: "Segoe UI";
  font-size: 4.75vw;
  font-weight: bold;
}

.main-card-info {
  height: 25%;
  margin-top: 5%;
  flex-direction: row;
  font-family: Calibri;
  font-size: 5vw;
}
.main-card-info span, .main-card-info div {
  line-height: 100%;
}
.main-card-info span {
  font-weight: 500;
  margin-right: 1.5vw;
}
.main-card-info div {
  color: rgba(30, 34, 47, 0.6);
}

/* Class for active */
.deploy {
  height: auto;
}
.deploy .main-card-cont-second {
  height: auto;
  padding: 3vh 8% 0;
}
.deploy .view-more {
  rotate: 180deg;
  animation-play-state: paused;
}
.deploy .line-active-user {
  height: auto;
}

/* Class for icon*/
.la-search {
  transform: scaleX(-1);
}

/* Class for icon*/
.c-white {
  color: #E5E9F6;
}

/* Class for icon*/
.c-black {
  color: #1E222F;
}

/* Class for icon*/
.vw2 {
  font-size: 2vw;
}

/* Class for icon*/
.vw3 {
  font-size: 3vw;
}

/* Class for icon*/
.vw4 {
  font-size: 4vw;
}

/* Class for icon*/
.vw5 {
  font-size: 5vw;
}

/* Class for icon*/
.vw6 {
  font-size: 6vw;
}

/* Class for icon*/
.vw7 {
  font-size: 7vw;
}

/* Class for icon*/
.vw8 {
  font-size: 8vw;
}

.main-card-cont-second {
  height: 0;
  width: 100%;
  padding: 0 8%;
  overflow: hidden;
  transition: all 0.4s;
}

.main-card-email,
.main-card-number-user {
  font-family: Calibri;
  font-size: 5vw;
}
.main-card-email span,
.main-card-number-user span {
  font-weight: 500;
}

.main-card-number-user {
  height: 8.5vh;
}

.main-card-email {
  margin-bottom: 10px;
  flex-direction: column;
}
.main-card-email div {
  line-height: 90%;
}
.main-card-email span {
  margin-right: 1.5vw;
}

.main-card-email div,
.main-card-number div,
.main-card-user div {
  width: 100%;
  word-wrap: break-word;
  color: rgba(30, 34, 47, 0.6);
}

.main-card-number {
  width: 50%;
}

.main-card-user {
  width: 50%;
  text-align: end;
}

.main-card-btn {
  width: 100%;
  height: 5vh;
  align-items: center;
  flex-direction: row;
  translate: 0 50%;
  justify-content: space-around;
}
.main-card-btn button, .main-card-btn a {
  border: none;
  width: 10vw;
  height: 10vw;
  cursor: pointer;
  color: #1E222F;
  font-size: 7vw;
  transition: all 0.3s;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

.view-more {
  background: #4AA163;
  animation-duration: 1s;
  animation-name: viewMore;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes viewMore {
  0% {
    translate: 0 10%;
  }
  100% {
    translate: 0 -10%;
  }
}
.card-btn-edit {
  background: #F2E63C;
}

.card-btn-delete {
  background: #FF5959;
}

/* Snacks */
.section-snack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Reports */
.cont-reports {
  flex-direction: column;
  align-items: center;
}

.report-main {
  width: 90%;
  height: 22vh;
  padding: 5vw;
  border-radius: 2vw;
  background: #1E222F;
  box-shadow: 0 0 10px rgba(30, 34, 47, 0.3);
  flex-direction: column;
  text-align: center;
}
.report-main h2 {
  color: #E5E9F6;
  margin-bottom: 1vh;
}

.report-cont-main {
  width: 100%;
  height: calc(100% - 10vw);
  flex-direction: row;
}

.report-main-img {
  width: 50%;
  height: 100%;
}
.report-main-img i {
  color: #FFFFFF;
  font-size: 25vw;
}

.report-main-btn {
  width: 50%;
  height: 100%;
}
.report-main-btn button {
  color: #FFFFFF;
  border: none;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  border-radius: 2vw;
  font-size: 4vw;
  background-color: #4AA163;
}
.report-main-btn button img {
  width: 60%;
}
.report-main-btn button:hover {
  scale: 0.9;
}

/* * * * * views.dashboard.users * * * * */
.cu {
  flex-direction: column;
  align-items: center;
}
.cu h2 {
  margin-bottom: 4vh;
}

#form-create-uers {
  display: grid;
  width: 70%;
  gap: 8% 3%;
  grid-template-columns: repeat(10, 7.3%);
  grid-template-rows: repeat(7, 1fr);
}
#form-create-uers .users-div {
  flex-direction: column;
}
#form-create-uers .users-div label {
  font: normal normal 400 calc(9vw - 1rem) "Anek D";
}
#form-create-uers .users-div input {
  border: none;
  display: flex;
  outline: none;
  padding: 0 0 1vh 3vw;
  border-bottom: 1px solid #4AA163;
}
#form-create-uers .users-div input::placeholder {
  color: #acacac;
}
#form-create-uers select {
  border: none;
  outline: none;
  padding-bottom: 1vh;
  border-bottom: 1px solid #4AA163;
}
#form-create-uers select option {
  padding: 1vh;
}
#form-create-uers #users-name {
  grid-row: 1;
  grid-column: 1/8;
}
#form-create-uers #users-lastname {
  grid-row: 2;
  grid-column: 1/10;
}
#form-create-uers #users-email {
  grid-row: 3;
  grid-column: 1/10;
}
#form-create-uers #users-pass {
  grid-row: 4;
  grid-column: 1/9;
}
#form-create-uers #users-user {
  grid-row: 5;
  grid-column: 1/6;
}
#form-create-uers #users-number {
  grid-row: 5;
  grid-column: 6/11;
}
#form-create-uers #users-rol {
  grid-row: 6;
  grid-column: 1/7;
}
#form-create-uers #users-state {
  grid-row: 6;
  grid-column: 7/11;
}
#form-create-uers #users-send {
  grid-row: 7;
  grid-column: 3/9;
  padding: 1.3vh 0;
  border-radius: 5px;
  outline: none;
  border: none;
  background: #4AA163;
  color: white;
  font-weight: 400;
  cursor: pointer;
}

/* * * Create Forms * * */
#body-create {
  height: var(--height);
  display: flex;
  padding: 6% 10%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

/* HEAD CREATE USER */
.left__head {
  margin: 0 0 5%;
}

.form-user {
  height: auto;
}

#name, #lastname,
#number, #email,
#user, #pass,
.right__body-btn-rol,
.right__jornada-btn {
  font-size: 4vw;
  padding: 1.2vh 3.5vw;
}

.create-btn-user {
  padding: 1.5vh 3.5vw;
  font-size: 4.5vw;
}

#jor-btn-mañana {
  width: 44%;
}

#jor-btn-tarde {
  width: 54%;
}

.forms-create {
  padding: 0;
}

.div-form-login {
  padding: 4vh 10vw;
}

.div-form-email {
  padding: 4vh 10vw;
  justify-content: start;
}

#btnCUser {
  font-size: 5.5vw;
}

.right__names,
.right__info,
.right__jornada,
.right__user {
  flex-direction: row;
  justify-content: space-between;
}

.right__name-name,
.right__name-lastname {
  width: 49%;
}

.right__info-number {
  width: 37%;
}

.right__info-email {
  width: 61%;
}

.inputPass {
  position: relative;
  overflow: visible;
}

#viewPass {
  top: 1px;
  right: 1px;
  padding: 0;
  width: 15%;
  border: none;
  font-size: 5vw;
  position: absolute;
  background: #1E222F;
  height: calc(100% - 2px);
  border-radius: 0 2vw 2vw 0;
}
#viewPass i {
  line-height: 100%;
  color: #FFFFFF;
}

.right__names,
.right__info,
.right__jornada,
.right__user,
.right__body-btn,
.right__body-div-email,
.right__body-div-pass,
.right__body-op {
  margin-bottom: 2vh;
}

.right__name-name input,
.right__name-lastname input,
.right__info-number input,
.right__info-email input,
.right__user-user input,
.right__user-pass input {
  width: 100%;
}

.bodyInvalid {
  opacity: 0.5;
  pointer-events: none;
}

.cardNew {
  animation-name: new;
}
.cardNew .uc-line {
  animation-name: new-line;
}

.userCreated,
.userUpdate {
  left: -200%;
  top: 2%;
  right: 0;
  bottom: 0;
  width: 70%;
  height: 10%;
  z-index: 100;
  max-width: 300px;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1vw;
  position: absolute;
}

.uc-p {
  width: 100%;
  height: 90%;
  color: #FFFFFF;
  background: #4AA163;
  align-items: center;
  justify-content: center;
  font-family: "Signika-Medium";
  font-size: 7vw;
}

.uc-line {
  width: 0;
  height: 10%;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  background: #66b87d;
}

@keyframes new {
  0% {
    left: -200%;
  }
  30% {
    left: 0;
  }
  70% {
    left: 0;
  }
  100% {
    left: 200%;
  }
}
@keyframes new-line {
  0% {
    width: 0%;
  }
  30% {
    width: 0%;
  }
  70% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
/* CREATE REFRI */
#div-type-refry {
  margin-right: 1%;
}

#refriDecription {
  width: 100%;
  height: 20vh;
  border-radius: 3vw;
  margin-bottom: 2vh;
  padding: 1.5vh 2.5vw;
  font-size: 4vw;
  font-family: "Segoe UI";
  border: 1px solid rgba(30, 34, 47, 0.5);
}

.right__snack-coor,
.right__snack-aux {
  width: 35% !important;
}
.right__snack-coor select,
.right__snack-aux select {
  height: 58%;
  outline: none;
  border-radius: 2vw;
  width: 100%;
  padding: 8%;
}

#type-btn-a,
#type-btn-b {
  width: 49%;
}

@media screen and (min-width: 480px) {
  /* * * * * Index * * * * */
  .btn-login {
    padding: 2.5vw 3.5vw;
    line-height: 100%;
  }
  .section-2-index {
    height: 100vh;
  }
  .video-yt {
    height: 40%;
    margin: 0;
    padding-bottom: 10%;
  }
  .about {
    height: 25%;
    margin: 0;
    padding-bottom: 10%;
  }
  .about h4 {
    font-size: 6vw;
    margin: 0;
    padding-bottom: 2%;
  }
  .about p {
    font-size: 3vw;
  }
  .lema {
    height: 35%;
  }
  #form-contact button {
    padding: 3% 0;
    font-size: 3.5vw;
  }
  .main-contact div {
    align-items: center;
  }
  .main-contact svg {
    transform: scale(1.1);
  }
  .main-contact p {
    font-size: 3.5vw;
    line-height: 135%;
    height: 16.5px;
  }
  /* * * * * Login * * * * */
  #header-login {
    padding: 5% 10%;
  }
  #main-login {
    width: 100%;
    height: auto;
  }
  .section-login {
    max-width: 710px;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  @font-face {
    font-display: swap;
    font-family: "Signika-Light";
    src: url("../fonts/Signika/SignikaLight.ttf");
  }
  @font-face {
    font-display: swap;
    font-family: "Signika-Regular";
    src: url("../fonts/Signika/SignikaSemiBold.ttf");
  }
  @font-face {
    font-display: swap;
    font-family: "Signika-Medium";
    src: url("../fonts/Signika/SignikaRegular.ttf");
  }
  @font-face {
    font-display: swap;
    font-family: "Signika-SemiBold";
    src: url("../fonts/Signika/SignikaMedium.ttf");
  }
  @font-face {
    font-display: swap;
    font-family: "Signika-Bold";
    src: url("../fonts/Signika/SignikaBold.ttf");
  }
  /*  INDEX  */
  #body-index {
    background: #E5E9F6;
  }
  #header-index {
    height: 90vh;
    display: flex;
    padding: 3.5% 5%;
    flex-direction: column;
  }
  #nav-index {
    position: fixed;
  }
  .nav-nav-index {
    padding: 5vh 5% 2vh;
    height: 14vh;
    align-items: center;
  }
  .menu-slider-header {
    display: none;
  }
  .btn-menu {
    display: none;
  }
  .btn-home {
    height: 100%;
  }
  .btn-home img {
    width: auto;
    height: 90%;
  }
  .btn-home h3 {
    height: auto;
    font-size: 1rem;
    letter-spacing: 0;
    font-family: "Segoe UI";
  }
  .n-n-msh {
    height: 100%;
    display: flex;
  }
  .n-n-msh ul {
    flex-direction: row;
  }
  .n-n-msh ul li {
    list-style: none;
    position: relative;
    margin: 0 1.5vw;
  }
  .n-n-msh a {
    margin: auto;
    cursor: pointer;
    color: #1E222F;
    font-weight: 500;
    line-height: 100%;
    position: relative;
    display: inline-block;
    font-family: Calibri;
    font-size: 1.8vw;
    transition: all 0.4s;
  }
  .n-n-msh a::before, .n-n-msh a::after {
    left: 0;
    position: absolute;
  }
  .n-n-msh a::before {
    width: 0;
    z-index: 10;
    height: 100%;
    content: "";
    background: #E5E9F6;
    transition: all 0.4s;
  }
  .n-n-msh a::after {
    top: 0;
    opacity: 0;
    width: 100%;
    z-index: 100;
    height: 100%;
    display: flex;
    color: #1E222F;
    transition: all 0.4s;
    align-items: center;
    justify-content: center;
    content: attr(data-icon);
    font-family: "Line Awesome Free";
    font-size: 1.8vw;
    font-weight: 900;
  }
  .n-n-msh a:hover {
    color: transparent;
  }
  .n-n-msh a:hover::before {
    width: 100%;
  }
  .n-n-msh a:hover::after {
    opacity: 1;
  }
  .btns {
    width: 12%;
    height: 80%;
    flex-direction: row;
    justify-content: space-between;
  }
  .btns .night {
    width: 46%;
    height: 100%;
    display: none;
    position: relative;
    border-radius: 12px;
    background: #1E222F;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .btns .night div {
    top: 0;
    left: 0;
    width: 50%;
    right: auto;
    height: 100%;
    bottom: auto;
    cursor: pointer;
    background: #FFFFFF;
    position: absolute;
    transition: all 0.5s;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .btn-login {
    width: 100%;
    height: 90%;
    padding: 0;
    border-radius: 12px;
    transition: all 0.3s;
    border: 2px solid #1E222F;
    font-size: 1.5vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .btn-login:hover {
    background: none;
    color: #1E222F;
  }
  .main-head {
    display: flex;
    padding-top: 20vh;
    align-items: center;
    flex-direction: row-reverse;
  }
  .main-img {
    margin: 0;
    width: 50%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }
  .main-img img {
    max-width: 96%;
  }
  .main-main {
    width: 50%;
    padding: 0 3% 0 0;
  }
  .main-date {
    position: relative;
    flex-direction: row;
    margin-bottom: 3vw;
    align-items: flex-end;
  }
  .main-date svg {
    width: calc(3.5vw - 1rem);
  }
  .main-date div {
    font-family: Calibri, sans-serif;
    font-weight: 300;
    font-size: calc(3vw - 1rem);
    padding-left: 0.5vw;
  }
  .main-p h1 {
    font-size: 7vw;
    text-align: start;
    font-weight: bold;
    line-height: 0.8em;
    font-family: "Segoe UI";
    letter-spacing: -0.2vw;
  }
  .main-p h1 span {
    letter-spacing: 1px;
  }
  .main-p h1 div {
    margin-top: 0.3vw;
  }
  .main-line {
    width: 100%;
    margin: 5% auto;
  }
  .main-btn {
    display: flex;
    flex-direction: row;
  }
  .main-btn a {
    margin: 0 2%;
    padding: 1.3vw 2vw;
    transition: all 0.3s;
    border-radius: 0 -12px;
    font-size: 2vw;
    border: 2px solid #4AA163;
  }
  .main-btn a[id=ingresar]:hover {
    background: none;
    color: #1E222F;
    box-shadow: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .main-btn a[id=contacto]:hover {
    color: #FFFFFF;
    background-color: #4AA163;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  /* Main */
  #main-index {
    padding: 2.5% 5%;
  }
  .section-1-index {
    padding: 5%;
    height: 65vh;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .map {
    height: 90%;
    white-space: nowrap;
    border: 0.5vw solid #4AA163;
  }
  .main-slider {
    height: 90%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main-img-slider {
    align-items: center;
    flex-wrap: nowrap;
  }
  .img-slider {
    height: 80%;
  }
  .img-slider div {
    width: 100%;
    min-width: 0;
  }
  .img-slider img {
    width: auto;
    height: 100%;
  }
  .main-btn-slider {
    height: 15%;
  }
  .main-btn-slider button {
    font-size: 1.3vw;
  }
  .row-slider-btn i {
    font-size: 2vw;
  }
  .dinamic-btn-slider {
    height: 100%;
  }
  .dinamic-btn-slider span button {
    padding: 5%;
  }
  /* Section 2 */
  .cont-about {
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  .video-yt,
  .about {
    padding: 0;
    width: 50%;
  }
  .video-yt {
    height: 75%;
  }
  .about {
    height: auto;
    padding: 0 5%;
  }
  .about h4 {
    font-size: 4vw;
  }
  .about p {
    font-size: 1.6vw;
  }
  .lema {
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .lema .lema-img, .lema h4 {
    width: 50%;
  }
  .lema h4 {
    font-size: 5vw;
  }
  /* Footer */
  .cont-form {
    width: 100%;
    display: flex;
    padding: 0 10%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .main-form {
    margin: 5% 0;
    width: 70%;
    padding: 0;
  }
  .main-form h4 {
    font-size: 4vw;
  }
  #form-contact {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #form-contact input, #form-contact textarea {
    padding: 1.5% 2.5%;
  }
  #form-contact input {
    width: auto;
    font-size: 1.5vw;
  }
  #form-contact textarea, #form-contact button {
    width: 100%;
    font-size: 1.5vw;
  }
  .main-rs {
    width: 10%;
    padding: 0;
    margin: calc(5% + 4vw) 0 5%;
    display: flex;
    font-size: 5vw;
    text-align: center;
    justify-content: end;
    flex-direction: column;
  }
  .main-rs a {
    width: auto;
    font-size: 6vw;
  }
  .copyright {
    font-size: 1.5vw;
  }
  .copyright::before, .copyright::after {
    width: 35%;
  }
  .send-email {
    width: 60%;
  }
  .send-email span, .send-email button, .send-email #by-email, .send-email #for-email {
    font-size: 1.8vw;
  }
  #matter-email,
  #body-email {
    font-size: 1.4vw;
    height: calc(98% - 1.8vw - 5px);
  }
  .by-email, .for-email {
    padding-left: 4%;
  }
  .matter-email, .body-email {
    padding: 2% 4% 0;
  }
  .cont-find-mail, #matter-email, #body-email {
    overflow: auto;
  }
  .find-mail {
    padding: 0.5% 3%;
  }
  .btn-email {
    justify-content: space-between;
  }
  .btn-email i {
    color: #E5E9F6;
    cursor: pointer;
    font-size: 2.5vw;
  }
  .btn-email i:hover {
    scale: 1.2;
  }
  .btn-email #edit {
    margin-right: 1vw;
  }
  /*  LOGIN  */
  .body-login {
    flex-direction: row;
  }
  .login-div-left {
    width: 50%;
    padding: 0.5vw;
    display: inline-block;
  }
  .login-left {
    width: 100%;
    height: 100%;
    padding: 5vh 4vw;
    margin: 0;
    display: flex;
    background: #1E222F;
    border-radius: 0.8vw;
    flex-direction: column;
    overflow: hidden;
    justify-content: space-between;
  }
  .left__head-logo {
    width: auto;
    height: 100%;
    display: inline-flex;
    align-items: center;
  }
  .left__head-logo h3 {
    color: #E5E9F6;
    font-size: 1.5vw;
  }
  .left__head-arrow a {
    color: #E5E9F6;
    font-size: 2.5vw;
    transition: all 0.4s ease-in-out;
  }
  .left__head-arrow a:hover {
    transform: translateX(-0.5vw);
  }
  .left__text {
    width: 100%;
  }
  .left__text h1, .left__text p {
    color: #E5E9F6;
  }
  .left__text-tittle {
    width: 100%;
  }
  .left__text-tittle h1 {
    letter-spacing: 4px;
    font-size: 2.5vw;
    font-family: "Signika-Light";
  }
  .left__text-parraf {
    width: 100%;
    padding-top: 5%;
  }
  .left__text-parraf p {
    letter-spacing: 1px;
    font-size: 1.5vw;
    font-family: "Segoe UI";
    font-weight: 100;
  }
  .left__body {
    width: 100%;
  }
  .left__body-slider {
    width: 300%;
    flex-direction: row;
    transition: all 0.6s ease-in-out;
    justify-content: space-around;
    margin-left: var(--marginLeft);
  }
  .left__body-slider-sec {
    width: 25%;
    border-radius: 1vw;
    text-align: justify;
    background: #101319;
    padding: 1.7vw 1.5vw 1.5vw;
    transition: all 0.6s ease-in-out;
  }
  .login-sec-active {
    scale: 1.1;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.25);
  }
  .left__slider-sec-text {
    width: 100%;
  }
  .left__slider-sec-text p {
    color: #E5E9F6;
    font-size: 1.2vw;
    font-family: "Signika-Light";
  }
  .left__slider-sec-profile {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }
  .left__sec-profile-img {
    width: 3vw;
    height: 3vw;
  }
  .left__sec-profile-img svg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .left__sec-profile-descrip {
    padding-left: 3%;
  }
  .left__sec-profile-descrip h5, .left__sec-profile-descrip h6 {
    color: #E5E9F6;
    font-family: "Signika-Light";
    letter-spacing: 1.5px;
  }
  .left__sec-profile-descrip h5 {
    font-size: 1vw;
    font-family: "Signika-Regular";
  }
  .left__sec-profile-descrip h6 {
    font-size: 0.8vw;
    font-family: "Segoe UI";
    font-weight: 100;
  }
  .left__body-btn {
    width: 100%;
    padding-top: 5%;
  }
  .left__body-btn-div button {
    width: 0.5vw;
    height: 0.5vw;
    border: none;
    margin: 0 0.1vw;
    border-radius: 50%;
    transition: all 0.3s;
    background: rgba(229, 233, 246, 0.5);
  }
  .login-btn-active {
    scale: 1.3;
    background-color: #FFFFFF !important;
  }
  /* RIGHT */
  .login-right {
    width: 50%;
    justify-content: center;
  }
  .right__head {
    display: none !important;
  }
  #headLeft {
    display: none;
  }
  .right__text h1 {
    font-size: 3vw;
  }
  .right__text p {
    font-size: 1.5vw;
  }
  .right__body span {
    font-size: 1.5vw;
  }
  .right__body-main {
    margin-top: 0;
  }
  .form-login button, .form-login input {
    padding: 2vh 2.5vw;
  }
  #rol-btn-coor {
    width: 54%;
  }
  #rol-btn-aux {
    width: 44%;
  }
  .right__body-btn-rol {
    font-size: 1.5vw;
  }
  .right__body-btn-rol:hover {
    color: #4AA163;
    border-color: #4AA163;
    font-family: "Signika-Light";
    border: 1px solid #4AA163;
  }
  .right__body-btn-rol:hover .right__body-cont {
    border: 2px solid #4AA163;
  }
  .right__body-cont,
  .right__jornada-cont {
    width: 1.3vw;
    height: 1.3vw;
  }
  .right__body-op-record {
    font-size: 1.5vw;
  }
  .right__body-op-record input {
    scale: 1.2;
  }
  .right__body-op-pass {
    color: rgba(30, 34, 47, 0.7);
    font-size: 1.5vw;
  }
  .right__body-op-pass:hover {
    text-decoration: underline;
  }
  #viewPass {
    width: 10%;
    font-size: 2vw;
    border-radius: 0 0.7vw 0.7vw 0;
  }
  .right__body-btn-send {
    background: #1E222F;
    font-size: 2vw;
  }
  .right__body-btn-send:hover {
    scale: 1.1;
    background: rgba(30, 34, 47, 0.8);
  }
  .normal {
    border-color: rgba(30, 34, 47, 0.5);
  }
  .normal:focus {
    border-color: #4AA163;
    color: #4AA163;
  }
  .normal:focus::placeholder {
    color: #4AA163;
  }
  .normal::placeholder {
    color: rgba(30, 34, 47, 0.5);
  }
  .alert {
    color: rgba(255, 89, 89, 0.7333333333);
    border-color: rgba(255, 89, 89, 0.7333333333);
  }
  .alert div {
    border-color: rgba(255, 89, 89, 0.7333333333);
  }
  .alert:focus {
    border-color: rgba(255, 89, 89, 0.7333333333);
    color: rgba(255, 89, 89, 0.7333333333);
  }
  .alert:focus::placeholder {
    color: rgba(255, 89, 89, 0.7333333333);
  }
  .alert::placeholder {
    color: rgba(255, 89, 89, 0.7333333333);
  }
  .alertRol,
  .alertUser,
  .alertPass,
  .alertLogin {
    display: none;
    margin: 0.3vw 0 0 0.3vw;
    color: rgba(255, 89, 89, 0.7333333333);
    font-size: 1.5vw;
    font-family: "Signika-Medium";
  }
  .styleAlert {
    font-size: 1.5vw;
  }
  .alertLogin {
    display: flex !important;
    width: 100%;
    height: 1.3vw;
    font-size: 1.8vw;
  }
  /* * * DASHBOARD * * */
  .cont-delete-confirm {
    width: 40vw;
    height: 30vh;
  }
  .cont-delete-confirm h3 {
    margin-bottom: 4vh;
  }
  .cont-delete-confirm button, .cont-delete-confirm a {
    transition: all 0.3s;
  }
  .cont-delete-confirm button:hover, .cont-delete-confirm a:hover {
    scale: 1.1;
  }
  #close-delete {
    font-size: 3vw;
  }
  .cont-delete-btns button, .cont-delete-btns a {
    font-size: 2vw;
  }
  /* * * Animation Menu * * */
  .first-page {
    border-radius: 2vw;
    transform: translate(75%, 40vh) !important;
  }
  .second-page {
    border-radius: 2vw;
    transform: translate(67%, 35vh) !important;
  }
  .third-page {
    border-radius: 2vw;
    transform: translate(59%, 30vh) !important;
  }
  .fourth-page {
    border-radius: 2vw;
    transform: translate(51%, 25vh) !important;
  }
  .fifth-page {
    border-radius: 2vw;
    transform: translate(43%, 20vh) !important;
  }
  .header-db {
    padding: 2%;
  }
  #menu-icon-div {
    height: auto;
  }
  #menu-icon-div i, #menu-icon-div a {
    transition: all 0.3s;
  }
  #menu-icon-div i:hover, #menu-icon-div a:hover {
    scale: 1.1;
    opacity: 0.7;
  }
  #menu-icon-div i {
    font-size: 3vw;
  }
  #menu-icon-div a {
    padding: 0.5vw;
  }
  #search h3 {
    font-size: 5vw;
    margin-bottom: 2vh;
  }
  .header-db-search {
    width: 40%;
    border-radius: 1vw;
  }
  .header-db-search i {
    font-size: 3vw;
  }
  #search-element {
    padding: 0 2vw;
    font-size: 1.8vw;
  }
  #main-db-users,
  #main-db-courses {
    padding: 3% 3%;
  }
  .section-coor-btn,
  .section-aux-btn {
    padding: 0;
    font-size: 2.5vw;
  }
  .section-coor-btn div,
  .section-aux-btn div {
    width: 100%;
    border-width: 0.2vw;
  }
  .section-coor-btn button,
  .section-aux-btn button {
    font-size: 2.7vw;
  }
  .section-coor-btn span {
    width: 23%;
  }
  .section-aux-btn span {
    width: 17%;
  }
  .cont-db-main-card {
    gap: 3%;
    width: 100%;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: row;
    justify-content: start;
  }
  .db-main-card {
    width: 30%;
    margin-bottom: 7%;
    border-radius: 1.5vw;
  }
  .main-card-cont-first {
    padding: 1.5vw 1.5vw 0;
  }
  .cont-main-card-img p {
    font-size: 1.5vw;
  }
  .main-card-descri div {
    font-size: 1.8vw;
  }
  .main-card-info {
    word-wrap: break-word;
  }
  .main-card-info span {
    margin-right: 0.5vw;
  }
  .main-card-info span, .main-card-info div {
    font-size: 1.7vw;
  }
  .main-card-email,
  .main-card-number-user {
    font-size: 1.8vw;
  }
  .main-card-email div,
  .main-card-number div,
  .main-card-user div {
    overflow: visible;
    word-wrap: break-word;
  }
  .main-card-btn a, .main-card-btn button {
    width: 3.7vw;
    height: 3.7vw;
    font-size: 2.6vw;
  }
  .main-card-btn a:hover, .main-card-btn button:hover {
    opacity: 0.9;
    scale: 1.1;
  }
  /* Snack */
  .section-snack {
    gap: 3%;
    flex-wrap: wrap;
    align-items: start;
    flex-direction: row;
    justify-content: center;
  }
  /* Reports */
  .report-main {
    width: 30%;
    padding: 1.5vw;
  }
  .report-cont-main {
    width: 100%;
    height: calc(100% - 4vw);
    flex-direction: row;
  }
  .report-main-img i {
    font-size: 10vw;
  }
  .report-main-btn button {
    border-radius: 1vw;
    font-size: 1.5vw;
  }
  /* * * Create User * * */
  .nav {
    width: 23vw;
  }
  .nav-nav h4 {
    font-size: 2vw;
  }
  .nav-nav i {
    font-size: 2.8vw;
  }
  #body-create {
    padding: 0;
  }
  .forms-create, .div-form-login {
    padding: 4vh 6vw;
  }
  .right__body button, .right__body input {
    border-radius: 0.7vw;
    padding: 2vh 3vw;
  }
  #name, #lastname,
  #number, #email,
  #user, #pass,
  .right__body-btn-rol,
  .right__jornada-btn {
    font-size: 1.5vw;
    padding: 1.2vh 2vw;
  }
  .create-btn-user {
    padding: 1.5vh 3.5vw;
    font-size: 2vw;
  }
  .uc-p {
    font-size: 2vw;
  }
  /* * * Create User * * */
  #refriDecription {
    border-radius: 1vw;
    font-size: 1.5vw;
    padding: 1.5vh 1.5vw;
  }
  /* * * Create Snack * * */
  #selectCoor,
  #selectAux {
    border-radius: 1vw;
  }
  /* * * Create Course * * */
  #selectCoor,
  #selectAux {
    border-radius: 1vw;
  }
}
@media screen and (min-width: 1200px) {
  /* * * * * Index * * * * */
  /* Class for active */
  .scrollOn {
    padding: 3.5vh 5% !important;
  }
  .btn-home h3 {
    font-size: 2vw;
  }
  .n-n-msh a {
    font-size: 1.5vw;
  }
  .btns {
    width: 10%;
  }
  .btn-login {
    font-size: 1.2vw;
    height: 100%;
  }
  .main-head {
    padding-top: 15vh;
  }
  .main-main {
    font-size: 6.5vw;
  }
  .main-btn a {
    padding: 1vw 1.5vw;
    font-size: 1.5vw;
  }
  .main-img img {
    width: 80%;
  }
  .main-slider {
    padding: 0 10%;
    justify-content: center;
  }
  .main-img-slider {
    height: auto;
    padding: 10px;
  }
  .img-slider {
    height: auto;
  }
  /* * * * * Login * * * * */
  .left__head {
    margin: 0 0 5%;
  }
  .left__head-arrow a {
    font-size: 2vw;
  }
  .left__text-tittle h1 {
    font-size: 2.2vw;
  }
  .left__text-parraf p {
    font-size: 1.1vw;
  }
  .left__slider-sec-text p {
    font-size: 0.9vw;
  }
  .right__text h1 {
    font-size: 3.5vw;
  }
  .right__text p {
    font-size: 1.4vw;
  }
  .right__body span {
    font-size: 1.3vw;
  }
  .form-login button, .form-login input {
    padding: 1.5vh 1.5vw;
  }
  #userLogin,
  #passLogin {
    font-size: 1.5vw;
  }
  #viewPass {
    width: 8.5%;
    font-size: 1vw;
    border-radius: 0 0.7vw 0.7vw 0;
  }
  .recupass {
    font-size: 1.3vw !important;
    padding: 1.8vh 2.5vw !important;
  }
  .alertRol,
  .alertUser,
  .alertPass {
    font-size: 1.2vw;
  }
  .alertLogin {
    font-size: 1.5vw;
  }
  /* * * * * Dashboard * * * * */
  .cont-delete-confirm {
    width: 30vw;
    height: 25vh;
    border-radius: 1.5vw;
  }
  #close-delete {
    font-size: 2vw;
  }
  .cont-delete-btns button, .cont-delete-btns a {
    font-size: 1.3vw;
    border-radius: 0.5vw;
  }
  /* * * Animation Menu * * */
  .first-page {
    border-radius: 1.5vw;
  }
  .second-page {
    border-radius: 1.5vw;
  }
  .third-page {
    border-radius: 1.5vw;
  }
  .fourth-page {
    border-radius: 1.5vw;
  }
  .fifth-page {
    border-radius: 1.5vw;
  }
  #menu-icon-div i {
    font-size: 2vw;
  }
  #search h3 {
    font-size: 4vw;
  }
  .header-db-search {
    border-radius: 0.7vw;
  }
  .header-db-search button {
    width: 10%;
  }
  .header-db-search input {
    width: 90%;
  }
  .header-db-search i {
    font-size: 2vw;
  }
  .main-card-btn a, .main-card-btn button,
  .main-card-btn a,
  .main-card-btn button {
    width: 3vw;
    height: 3vw;
  }
  .main-card-btn i,
  .main-card-btn i {
    font-size: 2.2vw;
  }
  /* Reports */
  .report-main {
    width: 30%;
    padding: 1vw;
  }
  .report-cont-main {
    width: 100%;
    height: calc(100% - 3vw);
  }
  .report-main-img i {
    font-size: 8vw;
  }
  .report-main-btn button {
    border-radius: 1vw;
    font-size: 1.3vw;
  }
  /* * * * * Create FORMS * * * * */
  .nav {
    width: 18vw;
  }
  .nav-nav h4 {
    font-size: 1.5vw;
  }
  .nav-nav i {
    font-size: 2vw;
  }
  .right__text p {
    font-size: 1.2vw;
  }
  #name, #lastname,
  #number, #email,
  #user, #pass,
  .right__body-btn-rol,
  .right__jornada-btn {
    font-size: 1.5vw;
    padding: 1.2vh 2vw;
  }
  .create-btn-user {
    padding: 1.5vh 3.5vw;
    font-size: 2vw;
  }
}
/* * * * * CLASES REPETIDAS * * * * */
.df {
  display: flex;
}

.dn {
  display: none;
}

.di {
  display: inline-block;
}

.db {
  display: block;
}

.cxy {
  justify-content: center;
  align-items: center;
}

.jc-s {
  justify-content: start;
  align-items: center;
}

.m10 {
  margin-top: 10%;
}

.m-10 {
  margin-top: -10%;
}

.wh100 {
  width: 100%;
  height: 100%;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.t4s {
  transition: all 0.4s;
}

/*# sourceMappingURL=main.css.map */
