/* * * * * Index * * * * */

/* Class for active */
.scrollOn{padding: 3.5vh 5% !important;}

.btn-home{h3{font-size: 2vw;}}

.n-n-msh{a{font-size: 1.5vw;}}

.btns{width: 10%;}

.btn-login{font-size: 1.2vw;height: 100%;}

.main-head{padding-top: 15vh;}

.main-main{font-size: 6.5vw;}

.main-btn{a{padding: 1vw 1.5vw; font-size: 1.5vw;}}

.main-img{img{width: 80%;}}

.main-slider{padding: 0 10%; justify-content: center;}

.main-img-slider{height: auto; padding: 10px;}

.img-slider{height: auto;}

/* * * * * Login * * * * */

.left__head{margin: 0 0 5%;}

.left__head-arrow{a{font-size: 2vw;}}

.left__text-tittle{h1{font-size: 2.2vw;}}

.left__text-parraf{p{font-size: 1.1vw;}}

.left__slider-sec-text{p{font-size: .9vw;}}

.right__text{h1{font-size: 2.5vw;}p{font-size: 1.3vw;}}

.right__body{span{font-size: 1.3vw;}}

.form-login{button,input{padding: 1.5vh 1.5vw;}}

#userLogin,
#passLogin{
    font-size: 1.5vw;
}

.alertRol,
.alertUser, 
.alertPass{
    font-size: 1.2vw;
}

.alertLogin{font-size: 1.5vw;}


/* * * * * Dashboard * * * * */

.cont-delete-confirm{
    width: 30vw;
    height: 25vh;
    border-radius: 1.5vw;
}

#close-delete{
    font-size: 2vw;
}

.cont-delete-btns{
    button,a{
        font-size: 1.3vw;
        border-radius: .5vw;
    }
}

#menu-icon-div{i{font-size: 2vw;}}

#search{h3{font-size: 4vw;}}
.header-db-search{
    border-radius: .7vw;
    button{width: 10%;}
    input{width: 90%;}
    i{font-size: 2vw;}
}

.main-card-btn,
.main-card-btn{
    a,button{
        width: 3vw;
        height: 3vw;
    }i{font-size: 2.2vw;}
}

/* * * * * Create FORMS * * * * */
.nav{width: 18vw;}

.nav-nav{h4{font-size: 1.5vw;}i{font-size: 2vw;}}

.#{$r}__text{p{font-size: 1.2vw;}}

#name,#lastname,
#number,#email,
#user,#pass,
.#{$r}__body-btn-rol,
.#{$r}__jornada-btn{
    font-size: 1.5vw; 
    padding: 1.2vh 2vw;
}

.create-btn-user{
    padding: 1.5vh 3.5vw;
    font-size: 2vw;
}