@import '../variables.scss';
@import '../mixins.scss';

/* * * * * * INDEX * * * * * */

#body-index{
    background-color: $gray;
}

/* * HEAD * */
#header-index{
    padding: 5%;
}

#nav-index{
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    align-items: center;
    flex-direction: column;
}

.nav-nav-index{
    height: calc(10vw + 7.5%);
    background: $gray;
    padding: 5% 5% 2.5%;
    transition: all .3s;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.btn-menu{
    cursor: pointer;
    transform: translateY(3px);
}

.btn-home{
    img{width: 10vw; height: auto;}
    h3{
        font: {
            size: 200%;
            weight: 800;
        }
        margin-left: 5px;
    }
}

.n-n-msh{
    display: none;
}

.btns{
    width: 30%;
}

.btn-login{
    width: 100%;
    padding: 13%;
    color: white;
    transition: all .3s;
    border-radius: 10px;
    background: $bluedark;
    font: {size: 4vw; weight: 500; family: sans-serif;}
    box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
}

.menu-slider-header{
    gap: 15px;
    width: 70%;
    height: 0;
    opacity: 0;
    display: grid;
    overflow: hidden;
    justify-items: center;
    justify-content: center;
    transition: all .3s ease-out;
    grid-template-columns: 40% 40%;
    a{
        width: 100%;
        border: none;
        display: flex;
        cursor: pointer;
        background: $yellow;
        align-items: center;
        border-radius: 10px;
        letter-spacing: .7px;
        flex-direction: column;
        justify-content: center;
        transition: all .3s ease-out;
        font: {size: 4vw; family: $Segoe; weight:700;}
        box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
        img{width: 40%; height: auto;}
        span{
            margin-top: 5%;
            color: $bluedark;
            line-height: 100%;
        }
    }
}

/* Class for active */
.menu-header-open{
    opacity: 1;
    height: auto;
    padding: 5vh 0;
    transition: all .3s ease-out;
}

/* Class for active */
.opacity-off{
    opacity: .5;
}

/* Class for active */
.opacity-on{
    opacity: 1;
    scale: 1.1;
}

/* Class for active */
.scrollOn{
    padding: 2.5% 5% !important;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .3);
    .btn-login{padding: 10%;}
}

.main-head{
    width: 100%;  
    padding-top: 15vh;
    transition: all .3s;
}

.main-img{
    width: 100%;
    text-align: center;
    margin-bottom: 10%;
    img{width: 90%; height: auto;}
}

.main-p{
    width: 100%;
    padding-bottom: 3vh;
    h1{
        text-align: center;
        overflow: visible;
        font: {family: $SignikaB;size: 15vw;}
        line-height: 90%;
        span{color: $green;}
    }
}

.main-line{
    width: 80%;
    border: $bluedark solid 1px;
    border-radius: 3px;
    margin: 0 auto 5%;
}

.main-btn{
    width: 100%;
    text-align: center;
    a{
        padding: 3.5vw 5vw;
        margin: 0 5%;
        border-radius: 10px;
        font: {family:sans-serif; size:4.5vw; weight:500;};
    }
}

.main-btn-ingresar{
    color: white;
    background: $green;
    box-shadow: 0 0 10px rgba($color: black, $alpha: .3);
    &:active{background: rgba($color: $green, $alpha: .7);}
}

.main-btn-contacto{
    color: $bluedark;
    border: $green solid 2px;
    &:active{scale: 1.1;}
}

/* * * * * MAIN * * * * */

/*  SECTION 1  */

#main-index{
    width: 100%;
    padding: 5%;
    transition: all .3s;
}

section{
    width: 100%;
    scroll-margin-top: 50px;
}

.section-1-index{
    padding: 30px 5%;
    margin-bottom: 30px;
    border-radius: 20px;
    background: $bluedark;
    height: calc(100vh - 70px);
    box-shadow: 0 0 12px rgba($color: black, $alpha: .6);
}

.map{
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 20px;
    iframe{
        background: {
            image: url('../img/loading.gif');
            size: 100px;
            color: $white;
            repeat: no-repeat;
            position: center center;
        }
    }
}

.main-slider{
    width: 100%;
    height: 50%;
}

.main-img-slider{
    width: 100%;
    height: 80%;
    padding-top: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar{display: none;}
}

.img-slider{
    width: 190%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 0;
    transition: all .7s;
    div[id=vertical]{
        min-width: 15%;
        max-width: 21%;
    }
    div{
        min-width: 35%;
        max-width: 38%;
        img{
            width: 90%;
            border-radius: 5%;
            transition: all .2s;
        }
    }
}

.moSl1{
    margin-left: 0;
}
.moSl2{
    margin-left: -44%;
}
.moSl3{
    margin-left: -90%;
}

.main-btn-slider{
    width: 100%;
    height: 20%;
    text-align: center;
    padding-top: 10px;
}

.btn-slider{
    width: 100%;
    height: 100%;
    button{
        margin: 0 5%;
        border: none;
        border-radius: 5px;
        font: {family: sans-serif; size: 4vw; weight: 700;}
    }
}

.row-slider-btn{
    color: white;
    cursor: pointer;
    transition: all .3s;
    background: transparent;
    i{font-size: 7vw;}
    &:hover{scale: 1.2;}
}

.dinamic-btn-slider{
    width: 30%;
    height: 70%;
    margin: 0 5%;
    span{
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        button{padding: 9%;}
    }
}

/* Class for active */
.btn-active{
    color: white;
    background: $green;
    transition: all .2s;
    transform: scale(1.2);
    box-shadow: 0 0 15px rgba($color: $green, $alpha: .5);
}

/*  SECTION 2  */
.video-yt{
    width: 100%;
    height: 30vh;
    text-align: center;
    iframe{
        width: 95%;
        height: 100%;
        border-radius: 10px;
        box-shadow: 0 0 12px rgba($color: black, $alpha: .4);
        background: {
            image: url('../img/loading.gif');
            size: 100px;
            color: $bluedark;
            repeat: no-repeat;
            position: center center;
        }
    }
}

.about{
    width: 100%;
    padding: 10% 5%;
    text-align: start;
    h4{
        margin-bottom: 10px;
        font: {family: $SignikaM; size: 8vw;}
    }
    p{
        margin: 0;
        width: 100%;
        text-align: justify;
        font: {family: $SignikaM; size: 5vw;}
    }
}

.lema{
    width: 100%;
    text-align: center;
    h4{
        width: 100%;
        font: {family: $SignikaB; size: 7vw;}
    }
}

.lema-img{
    width: 100%;
    margin-bottom: 15px;
    img{width: 50%;}
}

/* * * * * FOOTER * * * * */

footer{
    width: 100%;
    // opacity: .4;
    text-align: center;
    background-color: $bluedark;
}

.main-form{
    width: 100%;
    padding-top: 10%;
    text-align: center;
    margin-bottom: 10%;
    h4{
        color: white;
        margin-bottom: 7px;
        font: {family: $Segoe; size: 6vw;}
    }
}

.form{
    width: 80%;
    display: inline-block;
    input, textarea, button{
        width: 90%;
        padding: 3% 5%;
        border: none;
        margin: 5px 0;
        border-radius: 7px;
        font: {family: sans-serif; size: 4.5vw;};
        box-shadow: 0 0 12px rgba($color: black, $alpha: .4);
    }
    textarea{
        padding-top: 3%;
    }
    button{
        padding: 4% 0;
        color: white;
        background: $green;
        box-shadow: 0 0 15px rgba($color: black, $alpha: .5);
        &:active{box-shadow: none}
    }
}

.main-rs{
    margin-bottom: 10%;
    a{margin: 0 7px; font-size: 13vw; color: $gray;}
}

.copyright{
    color: white;
    position: relative;
    padding-bottom: 15px;
    font: {family: $SignikaL; size: 4vw;};
    &::before{
        @include before("",25%,0,20%,1,auto,2px,0,1s,$white)
    }
    &::after{
        @include after("",0,70%,20%,1,auto,2px,0,1s,$white)
    }
}

.send-email{
    top: 0;
    right: 0;
    bottom: 0;
    width: 85%;
    left: -100%;
    height: 70vh;
    position: fixed;
    translate: 0 5vh 0;
    transition: all .4s;
    align-items: center;
    border-radius: 15px;
    background: $bluedark;
    flex-direction: column;
    box-shadow: 0 0 10px $rgbaBlack; 
    p{color: $gray !important;}
    span{
        opacity: .6;
        color: $gray;
        font: {size: 5vw; family: $SignikaL;}
    }
}

/* Class for active */
.email-active{
    left: 0;
    margin: auto;
}

/* Class for active */
.alert-index{
    border: 2px solid $red !important;
    &::placeholder{
        color: rgba($color: $red, $alpha: .7);
    }
}

.by-email,
.for-email,
.matter-email,
.body-email{
    border-bottom: 1px solid $rgbaWhite;
}

.by-email,
.for-email{
    width: 10%;
    height: 8vh;
    padding: 0 0 0 8%;
    align-items: center;
}

.cont-find-mail{
    width: 90%;
    height: 80%;
    display: flex;
    margin-left: 10px;
    overflow-x: scroll; 
    overflow-y: hidden;
    align-items: center;
}

.find-mail{
    width: auto;
    padding: 2.5% 5%;
    border-radius: 20px;
    background: rgba(255,255,255,.2);
    p{font-size: 5vw;}
}

.matter-email,
.body-email{
    height: 14vh;
    padding: 2% 8% 0;
    p{
        margin-top: 5px;
        overflow-y: scroll;
        height: calc(90% - 5vw - 5px);
    }
}

.matter-email{
    height: 14vh;
}

.body-email{
    height: 33vh;
}

.btn-email{
    height: 7vh;
    padding: 0 2%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    button{
        color: $bluedark;
        padding: 4%;
        width: 40%;
        border: none;
        border-radius: 10px;
        font: {family: $Segoe; size: 5vw;};
        &:active{
            opacity: .8;
        }
    }
}

/* * * * * * * * * VIEW/LOGIN.HTML * * * * * * * * */

#body-login{
    width: 100%;
    display: flex;
    height: var(--height);
}

@keyframes load {
    0%{
        width: 0;
    }100%{
        width: 100%;
    }
}

.bodyLoad{
    &::before{
        @include before("", 0,0,0,1,auto,4px,0,0,$green);
        animation: 3s ease-in-out load;
    }
}

.login-div-#{$l}{
    display: none;
}

.login-sec-active{
    scale: 1.1;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.25);
}

.login-btn-active{
    scale: 1.3;
    background-color: $white !important;
}

/* HEAD LOGIN */
.#{$l}__head{
    @include div (
        100%, 5%,
        0,0 0 10%, flex
    );
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.#{$l}__head-logo{
    width: auto;
    height: 100%; 
    display: inline-flex;
    align-items: center;

    img,h3{
        display: inline-block;
        &::selection{
            background: none;
        }
    }

    img{
        width: auto;
        height: 100%;
        margin-right: .5vw;
    }

    h3{
        line-height: 100%;
        color: $bluedark;

        letter-spacing: 1px;
        font: {
            size: 100%;
            family: $Segoe;
        }
    }


}

.#{$l}__head-arrow{
    height: 100%;
    a{
        height: 100%;
        color: $bluedark;
        cursor: pointer;
        font: {size: 8.5vw; family: $SignikaL;}
    }
}

/* RIGHT */
.login-#{$r}{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-login{
    margin-bottom: 10% !important;
}

.#{$r}__text{
    font-weight: 400;
    letter-spacing: 1px;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6%;
    h1{font-size: 10vw; line-height: 105%; margin-bottom: 5px;}
    p{font-size: 4vw;}
}

.form-login{
    height: 65%;
}

.form-email{
    height: auto;
}

.#{$r}__body-main{margin-top: 30%;}

.#{$r}__body{
    button, input{padding: 2vh 7vw;}
    flex-direction: column;
    justify-content: space-evenly;
    span{
        display: block;
        font: {size: 5vw; family: $SignikaL;}
        margin-bottom: 5px;
    }
    button, input{
        outline: none;
        border-radius: 2vw;
    }input{
        font-family: $Segoe;
        border-width: 1px;
        border-style: solid;
    }
    button{margin: auto 0;}
}

#rol-btn-coor{
    width: 59%;
}

#rol-btn-aux{
    width: 39%;
}

.#{$r}__body-btn-rol,
.#{$r}__jornada-btn{
    height: 100%;
    background: none;
    text-align: start;
    align-items: center;
    display: inline-flex;
    border: 1px solid rgba($color: $bluedark, $alpha: .5);
    font: {
        family: $SignikaL;
        size: 4vw;
    }
}

.#{$r}__body-cont,
.#{$r}__jornada-cont{
    width: 3vw;
    height: 3vw;
    margin-right: 5px;
    border-radius: 50%;
    border: 1px solid rgba($color: $bluedark, $alpha: .5);
}

.rol-btn-active{
    color: $green !important;
    border: {color: $green !important;}
    .#{$r}__body-cont,.#{$r}__jornada-cont{
        border: {width: 2.5px !important; style: solid !important; color: $green !important;}
    }
}

.#{$r}__body-op{
    flex-direction: row;
    justify-content: space-between;
}

.#{$r}__body-op-record{
    input{margin-right: 5px; scale: 1.1;}
    font: {size: 4vw; family: $SignikaL;}
}

.#{$r}__body-op-pass{
    color: rgba($color: $bluedark, $alpha: .6);
    font: {size: 3.7vw; family:$Segoe;}
    &:hover, &:active{text-decoration: underline;}
}

.#{$r}__body-btn-send{
    width: 100%;
    border: none;
    color: $white;
    cursor: pointer;
    transition: all .3s;
    background: $bluedark;
    font: {size: 5vw; family: $SignikaL;}
    &:active{
        background: rgba($color: $bluedark, $alpha: .8);
    }
}

.normal{
    border-color: rgba($color: $bluedark, $alpha: .5);
    &:focus{
        border-color: $green;
        color: $green;
        &::placeholder{color: $green;}
    }
    &::placeholder{color: rgba($color: $bluedark, $alpha: .5);}
}

.alert{
    color: $redAlert !important;
    border-color: $redAlert !important;
    div{border-color: $redAlert !important;}
    &::placeholder{color: $redAlert !important;}
    &:focus{
        color: $redAlert !important;
        border-color: $redAlert !important;
        &::placeholder{color: $redAlert !important}
    }
}

.alertRol,
.alertUser,
.alertPass,
.alertLogin{
    display: none;
    margin: .3vw 0 0 .3vw;
    color: $redAlert;
    font: {
        size: 4vw;
        family: $SignikaM;
    }
}

.styleAlert{
    text-align: center;
    margin: -1vh 0 .5vh;
    color: $redAlert;
    font: {
        size: 4vw;
        family: $SignikaM;
    }
}

.alertLogin{
    height: .1px;   
    font-size: 5vw;
}   


/* * * * * * * * * VIEW/DASHBOARD.HTML * * * * * * * * */


/* * * Animation Menu * * */

.first-page{
    border-radius: 5vw;
    transform: translate(85%, 50vh) !important;
}

.second-page{
    border-radius: 5vw;
    transform: translate(77%, 45vh) !important;
}

.third-page{
    border-radius: 5vw;
    transform: translate(69%, 40vh) !important;
}

.fourth-page{
    border-radius: 5vw;
    transform: translate(61%, 35vh) !important;
}

.fifth-page{
    border-radius: 5vw;
    transform: translate(52%, 30vh) !important;
}

.zi-first{z-index: 100 !important;}
.zi-second{z-index: 80 !important;}
.zi-third{z-index: 60 !important ;}
.zi-fourth{z-index: 40 !important;}
.zi-fifth{z-index: 20 !important ;}

/* * * Animation Menu * * */

.activeDeleteDiv{
    .body-db-users{
        pointer-events: none;
    }
    .cont-delete-confirm{
        display: flex;
    }
}

.cont-delete-confirm{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 80vw;
    height: 25vh;
    z-index: 200;
    padding: 5vw 5vh;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    background: $white;
    border-radius: 3vw;
    box-shadow: 0 0 10px 1px rgba($color: $bluedark, $alpha: .3);

    h3{margin-bottom: 2vh;}
}

#close-delete{
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    outline: none;
    background: none;
    font-size: 6vw;
}

.cont-delete-btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    button, a{
        border: none;
        color: $white;
        padding: 1vh 3vw;
        border-radius: 1vw;
        font: {family: $Segoe;size: 4vw;}
        box-shadow: 0 0 10px rgba($color: $bluedark, $alpha: .3);
    }
}

#delete-btn-ca{background: $bluedark;}
#delete-btn-el{background: $red}

#body-dash{
    transition: all .4s;
    background-color: $green;
}

.nav{
    top: 0;
    left: 0;
    width: 45%;
    z-index: 0;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    justify-content: center;
}

.nav-nav{
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    i{font-size: 7.5vw;color: $white;}
}

.btn-menu-menu{
    cursor: pointer;
    position: relative;
    align-items: center;
    margin: 2vh 0;
    padding: 1.5vh 3vw;
    &::before{
        top: 0;
        left: 0;
        content: '';
        width: 0;
        height: 100%;
        display: block;
        z-index: -1;
        position: absolute;
        transition: all .5s;
        background-color: $gray;
        border-radius: 0 15px 15px 0;
    }
}

#line{
    padding: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color: $gray, $alpha: .5);
}

.icon-img{
    margin-right: 5%;
}   

.icon-text{
    display: flex;
    justify-content: center;
    h4{
        color: $gray;
        font: {family: $SignikaL;size: 4.5vw; weight: 400;}
    }
}

.click-sections{
    &::before{
        width: 100%;
        box-shadow: 0px 0px 10px 2px rgba($color: black, $alpha: .35);
    }
    i{color: $bluedark;}
    h4{color: $bluedark;}
}

// * * * BODY DASHBOARD * * * //

#body-dash{
    iframe{
        width: 100%;
    }
}

// * * * USERS DASHBOARD * * * //

.body-db{
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    position: absolute;
    flex-direction: column;
    background-color: $bluedark;
    transition: all .5s ease-in-out;
    box-shadow: -3px -3px 30px 10px rgba($color: black, $alpha: .3);
}

.header-db{
    height: 30vh;
    padding: 5%;
    background-color: $bluedark;
}

#menu-icon-div{
    height: 20%;
    align-items: center;
    justify-content: space-between;
    i{
        color: $white;
        cursor: pointer;
        font-size: 7vw;
    }
}

#plus-icon-div{
    padding: 1vw;
    color: $gray;
    height: 100%;
    background: $green;
    border-radius: 1vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    i{font-size: 5.5vw;}
}

#search{
    width: 100%;
    height: 80%;
    flex-direction: column;
    h3{
        color: white;
        line-height: 100%;
        margin-bottom: 3%;
        font-size: calc(12vw - 1rem);
    }
}

.header-db-search{
    width: 80%;
    height: 6vh;
    overflow: hidden;
    border-radius: 2vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    input{
        width: 85%;
        border: none;
        height: 100%;
        padding: 0 4vw;
        font: {family: $SignikaL; size: 4.5vw;}
    }
    button{
        width: 15%;
        border: none;
        outline: none;
        cursor: pointer;
        background: $green;
    }
}

#main-db-users, #main-db-courses{
    width: 100%;
    min-height: 70vh;
    padding: 10% 5%;
    border-radius: 45px 45px 0 0;
    background-color: $gray;
    overflow: hidden;
    box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.15);
    section{
        width: 100%;
    }&::-webkit-scrollbar{
        width: 0;
    }
}

.section-user, .section-refri{
    flex-direction: column;
    overflow-y: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Class for active */
.deploy-coors{
    height: auto !important;
    #deploy-coor{
        rotate: 90deg;
    }
}

/* Class for active */
.deploy-auxs{
    height: auto !important;
    #deploy-aux{
        rotate: 90deg;
    }
}

.cont-db-main-card{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.section-coor, .section-aux{
    width: 100%;
    height: 4vh;
    margin-bottom: 5vh;
    overflow: hidden;
    align-items: center;
    transition: all .4s;
    flex-direction: column;
    justify-content: start;
}

.section-coor-btn, .section-aux-btn{
    height: 4vh;
    padding: 0 5%;
    color: $bluedark;
    margin-bottom: 5vh;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    font: {family: $SignikaM; size: 5vw;}
    div{border: .5vw solid rgba($color: $bluedark, $alpha: .2);}
    button{
        width: 10%;
        border: none;
        text-align: end;
        background: none;
        transition: all .4s;
        font-size: 6vw;
    }
}

.section-coor-btn{
    span{width: 40%;}
    div{width: 45%;}
}

.section-aux-btn{
    span{width: 30%;}
    div{width: 60%;}
}

.db-main-card{
    width: 90%;
    height: 20vh;
    margin-bottom: 25%;
    transition: all .5s;
    flex-direction: row;
    background: white;
    border-radius: 2.8vw;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.main-card-cont{
    width: 96.5%;
    height: 100%;
}

.line-active-user{
    width: 3.5%;
    border-radius: 0 2.8vw 2.8vw 0;
}

.main-card-cont-first{
    width: 100%;
    height: 15vh;
    padding: 3vh 3vh 0;
    transition: all .4s;
    flex-direction: row;
}

/* Class for active */
.user-active{
    .line-active-user{background: $green;}
}
/* Class for active */
.user-inactive{
    box-shadow: none;
    background: rgba($color: $red, $alpha: .8);
    .line-active-user{background: $red;}
    .card-btn-delete{display: none;}
    .view-more{animation-play-state: paused;}
}

.cont-main-card-img{
    width: 40%;
    height: 100%;
    margin-right: 5%;
    text-align: center;
    flex-direction: column;
    p{
        width: 100%;
        height: 20%;
        margin-top: 5%;
        line-height: 100%;
        font: {family: $SignikaS; size: 4.5vw;}
    }
}

.main-card-img{
    height: 75%;
    img{
        height: 100%;
        border-radius: 50%;
        box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.3);
    }
}

.cont-main-card-descri{
    width: 55%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.main-card-descri{
    width: 100%;
    div{
        height: 100%;
        line-height: 100%;
        word-wrap: break-word;
        font: {family: $Segoe; size: 4.75vw; weight: bold;}
    }
}

.main-card-info{
    height: 25%;
    margin-top: 5%;
    flex-direction: row;
    font: {family: $Calibri; size: 5vw;}
    span, div{line-height: 100%;}
    span{font-weight: 500; margin-right: 1.5vw;}
    div{color: rgba($color: $bluedark, $alpha: .6);}
}

/* Class for active */
.deploy{
    height: auto;
    .main-card-cont-second{height: auto; padding: 3vh 8% 0;}
    .view-more{
        rotate: 180deg;
        animation-play-state: paused;
    }
    .line-active-user{height: auto;}
}

/* Class for icon*/
.la-search{transform: scaleX(-1);}
/* Class for icon*/
.c-white{color: $gray;}
/* Class for icon*/
.c-black{color: $bluedark;}
/* Class for icon*/
.vw2{font-size: 2vw;}
/* Class for icon*/
.vw3{font-size: 3vw;}
/* Class for icon*/
.vw4{font-size: 4vw;}
/* Class for icon*/
.vw5{font-size: 5vw;}
/* Class for icon*/
.vw6{font-size: 6vw;}
/* Class for icon*/
.vw7{font-size: 7vw;}
/* Class for icon*/
.vw8{font-size: 8vw;}

.main-card-cont-second{
    height: 0;
    width: 100%;
    padding: 0 8%;
    overflow: hidden;
    transition: all .4s;
}

.main-card-email,
.main-card-number-user{
    font: {family: $Calibri; size: 5vw;}
    span{font-weight: 500;}
}

.main-card-number-user{
    height: 8.5vh;
}

.main-card-email{
    margin-bottom: 10px;
    flex-direction: column;
    div{line-height: 90%;}
    span{margin-right: 1.5vw;}
}

.main-card-email,
.main-card-number,
.main-card-user{
    div{
        width: 100%;
        word-wrap: break-word;
        color: rgba($color: $bluedark, $alpha: .6);
    }
}

.main-card-number{
    width: 50%;
}

.main-card-user{
    width: 50%;
    text-align: end;
}

.main-card-btn{
    width: 100%;
    height: 5vh;
    align-items: center;
    flex-direction: row;
    translate: 0 50%;
    justify-content: space-around;
    button, a{
        border: none;
        width: 10vw;
        height: 10vw;
        cursor: pointer;
        color: $bluedark;
        font-size: 7vw;
        transition: all .3s;
        border-radius: 10px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    }
}

.view-more{
    background: $green;
    animation: {
        duration: 1s; 
        name: viewMore; 
        direction: alternate;
        iteration-count: infinite;
        timing-function: ease-in-out;
    };
}

@keyframes viewMore {
    0%{translate: 0 10%;}
    100%{translate: 0 -10%;}
}

.card-btn-edit{
    background: $yellow;
}

.card-btn-delete{
    background: $red;
}

/* Snacks */

.section-snack{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Reports */

.cont-reports{
    flex-direction: column;
    align-items: center;
}

.report-main{
    width: 90%;
    height: 22vh;
    padding: 5vw;
    border-radius: 2vw;
    background: $bluedark;
    box-shadow: 0 0 10px rgba($color: $bluedark, $alpha: .3);
    flex-direction: column;
    text-align: center;
    h2{color: $gray; margin-bottom: 1vh;}
}

.report-cont-main{
    width: 100%;
    height: calc(100% - 10vw);
    flex-direction: row;
}

.report-main-img{
    width: 50%;
    height: 100%;
    i{
        color: $white;
        font-size: 25vw;
    }
}

.report-main-btn{
    width: 50%;
    height: 100%;
    button{
        img{width: 60%;}
        color: $white;
        border: none;
        width: 100%;
        height: 100%;
        transition: all .3s;
        border-radius: 2vw;
        font-size: 4vw;
        background-color: $green;
        &:hover{
            scale: 0.9;
        }
    }
}

/* * * * * views.dashboard.users * * * * */
.cu{
    flex-direction: column;
    align-items: center;
    h2{
        margin-bottom: 4vh;
    }
}
#form-create-uers{
    display: grid;
    width: 70%;
    gap: 8% 3%;
    grid-template-columns: repeat(10, calc(73% / 10));
    grid-template-rows: repeat(7, 1fr);
    .users-div{
        flex-direction: column;
        label{
            font: normal normal 400 calc(9vw - 1rem) 'Anek D';
        }input{
            border: none;
            display: flex;
            outline: none;
            padding: 0 0 1vh 3vw;
            border-bottom: 1px solid $green;
            &::placeholder{
                color: #acacac;
            }
        }
    }select{
        border: none;
        outline: none;
        padding-bottom: 1vh;
        border-bottom: 1px solid $green ;
        option{
            padding: 1vh;
        }
    }
    #users-name{
        grid-row: 1;
        grid-column: 1/8;
    }#users-lastname{
        grid-row: 2;
        grid-column: 1/10;
    }#users-email{
        grid-row: 3;
        grid-column: 1/10;
    }#users-pass{
        grid-row: 4;
        grid-column: 1/9;
    }#users-user{
        grid-row: 5;
        grid-column: 1/6;
    }#users-number{
        grid-row: 5;
        grid-column: 6/11;
    }#users-rol{
        grid-row: 6;
        grid-column: 1/7;
    }#users-state{
        grid-row: 6;
        grid-column: 7/11;
    }#users-send{
        grid-row: 7;
        grid-column: 3/9;
        padding: 1.3vh 0;
        border-radius: 5px;
        outline: none;
        border: none;
        background: $green;
        color: white;
        font-weight: 400;
        cursor: pointer;
    }
}



/* * * Create Forms * * */

#body-create{
    height: var(--height);
    display: flex;
    padding: 6% 10%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


/* HEAD CREATE USER */
.#{$l}__head{margin: 0 0 5%;}

.form-user{
    height: auto;
}

#name,#lastname,
#number,#email,
#user,#pass,
.#{$r}__body-btn-rol,
.#{$r}__jornada-btn{
    font-size: 4vw; 
    padding: 1.2vh 3.5vw;
}

.create-btn-user{
    padding: 1.5vh 3.5vw;
    font-size: 4.5vw;
}

#jor-btn-mañana{width: 44%;}
#jor-btn-tarde{width: 54%;}

.forms-create{padding: 0;}
.div-form-login{padding: 4vh 10vw;}
.div-form-email{padding: 4vh 10vw;justify-content: start;}

#btnCUser{font-size: 5.5vw;}

.#{$r}__names,
.#{$r}__info,
.#{$r}__jornada,
.#{$r}__user{
    flex-direction: row;
    justify-content: space-between;
}

.#{$r}__name-name,
.#{$r}__name-lastname{
    width: 49%;
}

.#{$r}__info-number{
    width: 37%;
}

.#{$r}__info-email{
    width: 61%;
}

.inputPass{
    position: relative;
    overflow: visible;
}

#viewPass{
    top: 1px;
    right: 1px;
    padding: 0;
    width: 15%;
    border: none;
    font-size: 5vw;
    position: absolute;
    background: $bluedark;
    height: calc(100% - 2px);
    border-radius: 0 2vw 2vw 0;
    i{line-height: 100%; color: $white;}
}

.#{$r}__names,
.#{$r}__info,
.#{$r}__jornada,
.#{$r}__user,
.#{$r}__body-btn,
.#{$r}__body-div-email,
.#{$r}__body-div-pass,
.#{$r}__body-op{
    margin-bottom: 2vh;
}

.#{$r}__name-name,
.#{$r}__name-lastname,
.#{$r}__info-number,
.#{$r}__info-email,
.#{$r}__user-user,
.#{$r}__user-pass{
    input{width: 100%;}
}

.#{$r}__user{
    div{width: 49%;}
}

.bodyInvalid{
    opacity: .5;
    pointer-events: none;
}

.cardNew{
    animation-name: new;
    .uc-line{animation-name: new-line;}
}

.userCreated,
.userUpdate{
    left: -200%;
    top: 2%;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 10%;
    z-index: 100;
    max-width: 300px;
    animation: {
        duration: 5s; 
        direction: alternate;
        timing-function: ease-in-out;
    };
    margin: 0 auto;
    overflow: hidden;
    border-radius: 1vw;
    position: absolute;
}

.uc-p{
    width: 100%;
    height: 90%;
    color: $white;
    background: $green;
    align-items: center;
    justify-content: center;
    font: {family: $SignikaM; size: 7vw;}
}

.uc-line{
    width: 0;
    height: 10%;
    animation: {
        duration: 5s; 
        direction: alternate;
        timing-function: ease-in-out;
    };
    background: lighten($green, 10%);
}

@keyframes new {
    0%{left: -200%;}
    30%{left: 0;}
    70%{left: 0;}
    100%{left: 200%;}
}

@keyframes new-line {
    0%{width: 0%;}
    30%{width: 0%;}
    70%{width: 100%;}
    100%{width: 100%;}
}

/* CREATE REFRI */
#div-type-refry{margin-right: 1%;}

#refriDecription{
    width: 100%;
    height: 20vh;
    border-radius: 3vw;
    margin-bottom: 2vh;
    padding: 1.5vh 2.5vw;
    font: {size: 4vw; family: $Segoe;}
    border: 1px solid rgba($color: $bluedark, $alpha: .5);
}

.#{$r}__snack-coor,
.#{$r}__snack-aux{
    width: 35% !important;
    select{
        outline: none;
        border-radius: 2vw;
        border: .5px solid $bluedark;
        width: 100%;
        padding: 8%;
    }
}

#type-btn-a,
#type-btn-b{width: 49%;}